<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnafiliadotitular.sql" />
	<set-request-attribute id="paging.pagesize" value="6" />
	
	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_afiliados_id</colname>
			<colname>rel_numero_control</colname>
			<colname>smn_auxiliar_rf</colname>
			<colname>aux_num_doc_oficial</colname>
			<colname>rel_fecha_registro_ini</colname>
			<colname>rel_fecha_registro_fin</colname>
		
		</cols>
		<table>smn_salud.smn_relacionado</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smnrelacionado.sql"/>
	</audit>
	

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>smn_afiliados_id;smn_auxiliar_rf;aux_num_doc_oficial;rel_numero_control;rel_fecha_registro_ini;rel_fecha_registro_fin;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
