<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="false">

	<summary>
		${lbl:b_services}
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-svc_tipo_servicio.sql' source='sql' scope='transaction'/>
		<recordset id='query-svc_unidad_servicio.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-svc_tipo_servicio.sql' tag='svc_tipo_servicio_rows'/>
		<print mode='table' recordset='query-svc_unidad_servicio.sql' tag='svc_unidad_servicio_rows'/>
		
	</output>

</config>
