<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smndocumentoafiliados.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>

	<pdf-title>${lbl:b_documents}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-smndocumentoafiliados.sql' width='100' spacingBefore='40'>
			<col name='smn_tipo_documento_afiliado_id' title='${lbl:b_document_type}' width='9' align='center' format='######' />
			<col name='doc_desc_documento' title='${lbl:b_document}' width='9' align='left' />
			<col name='smn_afiliados_id' title='${lbl:b_afiliados}' width='9' align='center' format='######' />
			<col name='doc_archivo' title='${lbl:b_file}' width='9' align='left' />
			<col name='doc_contenido' title='${lbl:b_content}' width='9' align='left' />
			<col name='doc_descripcion' title='${lbl:b_description}' width='9' align='left' />
			<col name='doc_tamano' title='${lbl:b_size}' width='9' align='center' format='######' />
			<col name='doc_idioma' title='${lbl:s_profile_lang}' width='9' align='left' />
			<col name='doc_usuario' title='${lbl:b_users}' width='9' align='left' />
			<col name='doc_fecha_registro' title='${lbl:b_store_date}' width='9' align='center' format='dd-MM-yyyy' />
			<col name='doc_hora' title='${lbl:s_loginhist_col2}' width='9' align='left' />
		</table>

	</pdf-report>
</config>