<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Return JS in order to fill a combobox depending of value that send to this action
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>auxiliar.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<print mode="table" recordset="query.sql" tag="smn_auxiliar_rf_rows"/>
	</output>

</config>
