<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelordenmedicaservicios.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="2" cellStep="0" name="${lbl:b_rel_order_medical_services}"/>
	
	<excel 
		recordset='query-smnrelordenmedicaservicios.sql' 
		sheetname='${lbl:b_rel_order_medical_services}' 
		filename='${lbl:b_rel_order_medical_services}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_ordenes_medicas_id' label='${lbl:b_orders_medics}' />
		<col id='smn_servicios_rf_combo' label='${lbl:b_services}' />
		<col id='ros_observacion' label='${lbl:b_observations}' />
		<col id='smn_grupo_prestador_rf_combo' label='${lbl:b_grupo_prestador_servicio}' />
		<col id='smn_prestador_servicio_referido_rf_combo' label='${lbl:b_service_providers}' />

	</excel>

</config>
