<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpuestoatencion.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_puesto_atencion}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-smnpuestoatencion.sql' width='100' spacingBefore='40'>
			<col name='put_codigo' title='${lbl:b_code}' width='25' align='left' />
			<col name='put_descripcion' title='${lbl:b_description}' width='25' align='left' />
			<col name='put_estatus_combo' title='${lbl:b_estatus}' width='25' align='left' />
			<col name='put_fecha_registro' title='${lbl:b_store_date}' width='25' align='center' format='dd-MM-yyyy' />
		</table>

	</pdf-report>
</config>