<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='22%'/>


	<!--toolbar-->
	<tr>
		<th colspan="7" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('dgn_codigo','query-smndiagnostico.sql')" >${lbl:b_code_diag}</th>
		<th class='sortable' onclick="sortBy('dgn_descripcion','query-smndiagnostico.sql')" >${lbl:b_description_diag}</th>
		<th class='sortable' onclick="sortBy('dgn_tipo_combo','query-smndiagnostico.sql')" >${lbl:b_tipo_diag}</th>
		<th class='sortable' onclick="sortBy('dgn_fecha_registro','query-smndiagnostico.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_diagnostico_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_diagnostico_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_diagnostico_id}')" title="${lbl:b_edit_button}"></td>
		<td align="left">${fld:dgn_codigo}</td>
		<td align="left">${fld:dgn_descripcion}</td>
		<td align="left">${fld:dgn_tipo_combo}</td>
		<td align="center">${fld:dgn_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
