<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />

	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_roles}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_roles}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='query.sql' title='${lbl:b_roles}' width='60' spacingBefore='40'>
			<col name='smn_usuario_id' title='${lbl:b_users}' align='left' format='######' />
			<col name='rol_tipo' title='${lbl:b_rol_type}' align='left' />
			<col name='smn_corporacion_rf' title='${lbl:b_corporation}' align='left' format='######' />
			<col name='smn_entidad_rf' title='${lbl:b_entities}' align='left' format='######' />
			<col name='smn_sucursal_rf' title='${lbl:b_subsidiaries}' align='left' format='######' />
			<col name='smn_area_servicio_rf' title='${lbl:b_area_service}' align='left' format='######' />
			<col name='smn_unidad_servicio_rf' title='${lbl:b_units_service}' align='left' format='######' />
			<col name='smn_estructura_organizacional_rf' title='${lbl:b_organizational_structure}' align='left' format='######' />
			<col name='rol_idioma' title='${lbl:s_profile_lang}' align='left' />
			<col name='rol_usuario_id' title='${lbl:b_users}' align='left' />
			<col name='rol_fecha_registro' title='${lbl:b_store_date}' align='left' format='dd-MM-yyyy' />
			<col name='rol_hora' title='${lbl:s_loginhist_col2}' align='left' />
		</record>


	</pdf-report>
</config>
