<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncapacidadesunidad.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="2" cellStep="0" name="${lbl:b_capacidad_unidad}"/>
	
	<excel 
		recordset='query-smncapacidadesunidad.sql' 
		sheetname='${lbl:b_capacidad_unidad}' 
		filename='${lbl:b_capacidad_unidad}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_areas_servicios_rf_combo' label='${lbl:b_area_servicio}' />
		<col id='smn_unidad_servicio_rf_combo' label='${lbl:b_unidad_servicio}' />
		<col id='cap_cant_max_pacientes' label='${lbl:b_max_pacientes}' />
		<col id='cap_cant_min_pacientes' label='${lbl:b_min_pacientes}' />
		<col id='cap_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
