<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='22%'/>


	<!--toolbar-->
	<tr>
		<th colspan="7" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_tramos_id_combo','query-smntramosdescanso.sql')" >${lbl:b_cod_tramo}</th>
		<th class='sortable' onclick="sortBy('trd_hora_descanso_desde','query-smntramosdescanso.sql')" >${lbl:b_hor_inic_desc}</th>
		<th class='sortable' onclick="sortBy('trd_hora_descanso_hasta','query-smntramosdescanso.sql')" >${lbl:b_hor_fin_desc}</th>
		<th class='sortable' onclick="sortBy('trd_fecha_registro','query-smntramosdescanso.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_tramo_descanso_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_tramo_descanso_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_tramo_descanso_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_tramos_id_combo}</td>
		<td align="left">${fld:trd_hora_descanso_desde}</td>
		<td align="left">${fld:trd_hora_descanso_hasta}</td>
		<td align="center">${fld:trd_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
