<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>


	<!--toolbar-->
	<tr>
		<th colspan="8" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("loc_codigo","query-smnlocalidad.sql")'>${lbl:b_codigo_local}</th>
		<th class='sortable' onclick='sortBy("loc_descripcion","query-smnlocalidad.sql")'>${lbl:b_descripcion_local}</th>
		<th class='sortable' onclick='sortBy("loc_status_combo","query-smnlocalidad.sql")'>${lbl:b_status_local}</th>
		<th class='sortable' onclick='sortBy("loc_usuario_id","query-smnlocalidad.sql")'>${lbl:b_users}</th>
		<th class='sortable' onclick='sortBy("loc_fecha_registro","query-smnlocalidad.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_localidad_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_localidad_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_localidad_id}')" title="${lbl:b_edit_button}"></td>
		<td align='left'>${fld:loc_codigo}</td>
		<td align='left'>${fld:loc_descripcion}</td>
		<td align='left'>${fld:loc_status_combo}</td>
		<td align='left'>${fld:loc_usuario_id}</td>
		<td>${fld:loc_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
