<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelpatologiaservicios.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_rel_services_pathology}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_rel_services_pathology}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_patologia_id_name' title='${lbl:b_pathology}'  align='left' />
			<col name='smn_servicio_rf' title='${lbl:b_service}'  format='######' align='left' />
			<col name='rps_cantidad' title='${lbl:b_quantity}'  format='######' align='left' />
			<col name='rps_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='rps_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnrelpatologiaservicios.sql' width='100' spacingBefore='10'>
			<col name='smn_patologia_id' title='${lbl:b_pathology}' width='25' align='left' format='######' />
			<col name='smn_servicio_rf' title='${lbl:b_service}' width='25' align='left' format='######' />
			<col name='rps_cantidad' title='${lbl:b_quantity}' width='25' align='left' format='######' />
			<col name='rps_fecha_registro' title='${lbl:b_store_date}' width='25' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
