<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrepososconstancias.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_constancy_rest}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_constancy_rest}">
				<col id='smn_ingreso_id' label='${lbl:b_income}' />
		<col id='smn_auxiliar_rf' label='${lbl:b_auxiliary}' />
		<col id='smn_diagnostico_rf' label='${lbl:b_diagnostic}' />
		<col id='rpc_fecha_desde' label='${lbl:b_init_date}' />
		<col id='rpc_fecha_hasta' label='${lbl:b_end_date}' />
		<col id='rpc_fecha_reintegro' label='${lbl:b_reintegro_date}' />
		<col id='rpc_motivo' label='${lbl:b_reason}' />
		<col id='rpc_observacion' label='${lbl:b_observations}' />
		<col id='rpc_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
