<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelsolicitudprehonorarios.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnrelsolicitudprehonorarios.sql' sheetname='${lbl:b_budget_request_honorary}' filename='filter.xls'>
		<col id='smn_solicitud_presupuesto_id' label='${lbl:b_budget_request_honorary}' />
		<col id='smn_servicios_rf_combo' label='${lbl:b_services}' />
		<col id='smn_componentes_rf_combo' label='${lbl:b_component}' />
		<col id='smn_grupo_prestador_servicio_rf_combo' label='${lbl:b_grupo_prestador_servicio}' />
		<col id='smn_prestador_serviciorf_combo' label='${lbl:b_service_provider}' />
		<col id='rsh_monto_solicitado_ml' label='${lbl:b_amount_ml}' />
		<col id='rsh_monto_solicitado_ma' label='${lbl:b_amount_ma}' />
		<col id='smn_tasa_id_combo' label='${lbl:b_tasa}' />
		<col id='smn_moneda_id_combo' label='${lbl:b_coins}' />
		<col id='rsh_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>