<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncoberturasservicios.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smncoberturasservicios.sql' sheetname='${lbl:b_coverage_services}' filename='filter.xls'>
		<col id='smn_coberturas_id_combo' label='${lbl:b_cobertura}' />
		<col id='smn_unidades_servicios_id_combo' label='${lbl:b_service_unit}' />
	</excel>

</config>