<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("trm_codigo","query-smntramos.sql")'>${lbl:b_trm_cod}</th>
		<th class='sortable' onclick='sortBy("trm_descripcion","query-smntramos.sql")'>${lbl:b_trm_des}</th>
		<th class='sortable' onclick='sortBy("trm_dia_semana_combo","query-smntramos.sql")'>${lbl:b_dia_semana}</th>
		<th class='sortable' onclick='sortBy("trm_hora_inicio","query-smntramos.sql")'>${lbl:b_trm_hora_inicio}</th>
		<th class='sortable' onclick='sortBy("trm_hora_fin","query-smntramos.sql")'>${lbl:b_trm_hora_fin}</th>
		<th class='sortable' onclick='sortBy("trm_fecha_registro","query-smntramos.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_tramos_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_tramos_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_tramos_id}')" title="${lbl:b_edit_button}"></td>
		<td align='left'>${fld:trm_codigo}</td>
		<td align='left'>${fld:trm_descripcion}</td>
		<td align='left'>${fld:trm_dia_semana_combo}</td>
		<td align='left'>${fld:trm_hora_inicio}</td>
		<td align='left'>${fld:trm_hora_fin}</td>
		<td>${fld:trm_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
