<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_citas}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_documento_id.sql' source='sql' scope='transaction'/><recordset id='query-cts_clase_auxiliar.sql' source='sql' scope='transaction'/><recordset id='query-cts_auxiliar.sql' source='sql' scope='transaction'/><recordset id='query-smn_condicion_financiera_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_contratante_id.sql' source='sql' scope='transaction'/><recordset id='query-smn_observaciones_id.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_documento_id.sql' tag='smn_documento_id_rows'/>
		<print mode='table' recordset='query-cts_clase_auxiliar.sql' tag='cts_clase_auxiliar_rows'/>
		<print mode='table' recordset='query-cts_auxiliar.sql' tag='cts_auxiliar_rows'/>
		<print mode='table' recordset='query-smn_condicion_financiera_rf.sql' tag='smn_condicion_financiera_rf_rows'/>
		<print mode='table' recordset='query-smn_contratante_id.sql' tag='smn_contratante_id_rows'/>
		<print mode='table' recordset='query-smn_observaciones_id.sql' tag='smn_observaciones_id_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
