<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>

	<!--toolbar-->
	<tr>
		<th colspan="6">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th class='sortable' onclick='sortBy("stm_codigo","query-smnsintoma.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("stm_descripcion","query-smnsintoma.sql")'>${lbl:b_description}</th>
		<th class='sortable' onclick='sortBy("stm_idioma","query-smnsintoma.sql")'>${lbl:s_profile_lang}</th>
		<th class='sortable' onclick='sortBy("stm_usuario","query-smnsintoma.sql")'>${lbl:b_users}</th>
		<th class='sortable' onclick='sortBy("stm_fecha_registro","query-smnsintoma.sql")'>${lbl:b_store_date}</th>
		<th class='sortable' onclick='sortBy("stm_hora","query-smnsintoma.sql")'>${lbl:s_loginhist_col2}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td align='left'>${fld:stm_codigo}</td>
		<td align='left'>${fld:stm_descripcion}</td>
		<td align='left'>${fld:stm_idioma}</td>
		<td align='left'>${fld:stm_usuario}</td>
		<td>${fld:stm_fecha_registro@dd-MM-yyyy}</td>
		<td align='left'>${fld:stm_hora}</td>
	</tr>
	</rows>

</table>
