<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_marca_comercial}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_marca_comercial}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='mac_codigo' title='${lbl:b_code}'  format='######' align='left' />
			<col name='mac_descripcion' title='${lbl:b_description}'  format='######' align='left' />
			<col name='mac_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='mac_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-.sql' width='100' spacingBefore='10'>
			<col name='mac_codigo' title='${lbl:b_code}' width='33' align='left' format='######' />
			<col name='mac_descripcion' title='${lbl:b_description}' width='33' align='left' format='######' />
			<col name='mac_fecha_registro' title='${lbl:b_store_date}' width='33' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
