<?xml version='1.0' encoding='ISO-8859-1' ?>

<config>
	
	<sumary> requisicion </sumary>
	
	<log> false </log>
	
	<transaction>
		<classname>proceso.generar_presupuesto_ingreso</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>true</jdbc-log>
	</transaction>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>message.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>1</expiration>
	</output>
	
</config>