<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_auxiliary_class}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_auxiliar_id.sql' source='sql' scope='transaction'/><recordset id='query-smn_clase_auxiliar_id.sql' source='sql' scope='transaction'/>
		<recordset id="smn_auxiliar_id" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_auxiliar_id.sql' tag='smn_auxiliar_id_rows'/><print mode='table' recordset='query-smn_clase_auxiliar_id.sql' tag='smn_clase_auxiliar_id_rows'/>
		<print mode="form" recordset="smn_auxiliar_id"/>
	</output>

</config>
