<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncitas.sql" source="session" scope="transaction" />
		<recordset id='query-smnauxiliarpersonanatural.sql' source='sql' scope='transaction' />
	<recordset id='query-smnclaseauxiliar.sql' source='sql' scope='transaction' />
	
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_citas}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_citas}">
				<col id='smn_documento_id_combo' label='${lbl:b_document}' />
		<col id='cts_num_control' label='${lbl:b_code}' />
		<col id='cts_numero_ticket' label='${lbl:b_num_ticket}' />
		<col id='cts_auxiliar_combo' label='${lbl:b_auxiliary_pa}' />
		<col id='cts_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
		<sheet recordset='query-smnauxiliarpersonanatural.sql' sheetname=''>
		<col id='ant_apellidos' label='${lbl:}' />
	</sheet>

	<sheet recordset='query-smnclaseauxiliar.sql' sheetname=''>
		<col id='cla_nombre' label='${lbl:b_name}' />
	</sheet>


	</excel>

</config>
