<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_appointment_movement}
	</summary>

	<log>false</log>
	
	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-ctm_servicio.sql' source='sql' scope='transaction'/><recordset id='query-ctm_componente.sql' source='sql' scope='transaction'/><recordset id='query-ctm_prestador_servicio.sql' source='sql' scope='transaction'/><recordset id='query-ctm_estatus.sql' source='sql' scope='transaction'/><recordset id='query-ctm_observ_cita.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-ctm_servicio.sql' tag='ctm_servicio_rows'/><print mode='table' recordset='query-ctm_componente.sql' tag='ctm_componente_rows'/><print mode='table' recordset='query-ctm_prestador_servicio.sql' tag='ctm_prestador_servicio_rows'/><print mode='table' recordset='query-ctm_estatus.sql' tag='ctm_estatus_rows'/><print mode='table' recordset='query-ctm_observ_cita.sql' tag='ctm_observ_cita_rows'/>
	</output>

</config>
