<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<!-- <col width='3%'/> -->
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<!-- <th></th> -->
		<th class='sortable' onclick='sortBy("smn_tipo_consulta_id","query-smncitasmov.sql")'>${lbl:b_tipo_consulta}</th>
		<th class='sortable' onclick='sortBy("ctm_num_control_cita","query-smncitasmov.sql")'>${lbl:b_num_control_citas}</th>
		<th class='sortable' onclick='sortBy("smn_servicios_rf","query-smncitasmov.sql")'>${lbl:b_service_units}</th>
		<th class='sortable' onclick='sortBy("smn_unidades_servicios_rf","query-smncitasmov.sql")'>${lbl:b_service_providers}</th>
		<th class='sortable' onclick='sortBy("ctm_fecha_cita","query-smncitasmov.sql")'>${lbl:b_appointment_date}</th>
		<th class='sortable' onclick='sortBy("ctm_estatus_id","query-smncitasmov.sql")'>${lbl:b_status}</th>
		<th class='sortable' onclick='sortBy("ctm_fecha_registro","query-smncitasmov.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_citas_mov_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_citas_mov_id}')" title="${lbl:b_delete_button}"></td>
		<!-- <td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_citas_mov_id}')" title="${lbl:b_edit_button}"></td> -->
		<td>${fld:smn_tipo_consulta_id}</td>
		<td>${fld:ctm_num_control_cita}</td>
		<td>${fld:smn_servicios_rf}</td>
		<td>${fld:smn_unidades_servicios_rf}</td>
		<td>${fld:ctm_fecha_cita@dd-MM-yyyy}</td>
		<td>${fld:ctm_estatus_id}</td>
		<td>${fld:ctm_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
