<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnprestacionserviciomedicocabecera.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_header_medic_provider_services}</pdf-title>
	<pdf-logo url='/images/logo_vistacalifornia-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_header_medic_provider_services}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_ingresos_id_name' title='${lbl:b_income}'  align='left' />
			<col name='smn_mov_caja_cabecera_id' title='${lbl:b_movement_caj}'  format='######' align='left' />
			<col name='smn_unidades_servicios_rf' title='${lbl:b_service_units}'  format='######' align='left' />
			<col name='psc_estatus' title='${lbl:b_status}'  align='left' />
			<col name='psc_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='psc_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnprestacionserviciomedicocabecera.sql' width='100' spacingBefore='10'>
			<col name='documento' title='DOCUMENTO' width='20' align='left' />
			<col name='document_num_ingreso' title='DOC NUM INGRESO' width='20' align='left' format='######'/>
			<col name='smn_grupos_prestadores' title='GRUPO PRESTADORES' width='20' align='left' />
			<col name='smn_unidades_servicios_rf' title='UNIDAD DE SERVICIO' width='20' align='left' />
			<col name='ticket' title='TICKET' width='20' align='left' format='######'/>
			<col name='documento_identidad' title='Documento Identidad' width='20' align='left' />
			<col name='nombre_paciente' title='Nombre Paciente' width='20' align='left' format='######' />
			<col name='psc_estatus' title='${lbl:b_status}' width='20' align='left' />
			<col name='psc_fecha_registro' title='${lbl:b_store_date}' width='20' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
