<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='25%'/>
	<col width='25%'/>
	<col width='25%'/>
	<col width='25%'/>


	<!--toolbar-->
	<tr>
		<th colspan="7" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_documentos_id_combo","query-smnreldocumentosservicios.sql")'>${lbl:b_contrato_doc}</th>
		<th class='sortable' onclick='sortBy("smn_servicios_id_combo","query-smnreldocumentosservicios.sql")'>${lbl:b_service}</th>
		<th class='sortable' onclick='sortBy("rdt_tipo_generacion_combo","query-smnreldocumentosservicios.sql")'>${lbl:b_tipo_generacion}</th>
		<th class='sortable' onclick='sortBy("rdt_hora_generacion","query-smnreldocumentosservicios.sql")'>${lbl:b_hora_generacion}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_rel_documentos_servicios_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_rel_documentos_servicios_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_rel_documentos_servicios_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_documentos_id_combo}</td>
		<td>${fld:smn_servicios_id_combo}</td>
		<td>${fld:rdt_tipo_generacion_combo}</td>
		<td align='left'>${fld:rdt_hora_generacion}</td>

	</tr>
	</rows>

</table>
