<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnlocalidad.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_localidad}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_localidad}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnlocalidad.sql' width='100' spacingBefore='40'>
			<col name='loc_codigo' title='${lbl:b_codigo_local}' width='20' align='left' />
			<col name='loc_descripcion' title='${lbl:b_descripcion_local}' width='20' align='left' />
			<col name='loc_status_combo' title='${lbl:b_status_local}' width='20' align='left' />
			<col name='loc_usuario_id' title='${lbl:b_users}' width='20' align='left' />
			<col name='loc_fecha_registro' title='${lbl:b_store_date}' width='20' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
