<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_relacionado}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_afiliados_id.sql' source='sql' scope='transaction'/><recordset id='query-smn_documento_id.sql' source='sql' scope='transaction'/><recordset id='query-smn_clase_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_auxiliar_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_parentesco_rf.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_afiliados_id.sql' tag='smn_afiliados_id_rows'/><print mode='table' recordset='query-smn_documento_id.sql' tag='smn_documento_id_rows'/><print mode='table' recordset='query-smn_clase_rf.sql' tag='smn_clase_rf_rows'/><print mode='table' recordset='query-smn_auxiliar_rf.sql' tag='smn_auxiliar_rf_rows'/><print mode='table' recordset='query-smn_parentesco_rf.sql' tag='smn_parentesco_rf_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
