<!--data grid-->
<table class="datagrid rowhover oneCellRow" style="width:90%;">

	<col width='100%'/>


	<!--toolbar-->
	<tr>
		<th colspan="2">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th onclick="sortBy('stm_codigo','query-smnsintoma.sql')" class="sortable">${lbl:b_code}</th>
		<th onclick="sortBy('stm_descripcion','query-smnsintoma.sql')" class="sortable">${lbl:b_description}</th>
	</tr>

	<!--data-->
	<rows>
	<tr onclick="selectItem('${fld:smn_sintoma_id}')" >
		<td align="center"><span id="${fld:smn_sintoma_id}">${fld:stm_codigo}</span></td>
		<td align="center">${fld:stm_descripcion}</td>
	</tr>
	</rows>

</table>

