<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelusuariosentidad.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="2" cellStep="0" name="${lbl:b_rel_usr_entidad}"/>
	
	<excel 
		recordset='query-smnrelusuariosentidad.sql' 
		sheetname='${lbl:b_rel_usr_entidad}' 
		filename='${lbl:b_rel_usr_entidad}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_usuario_rf_combo' label='${lbl:b_usuario}' />
		<col id='smn_entidades_rf_combo' label='${lbl:b_entidades_rol}' />
		<col id='smn_sucursales_rf_combo' label='${lbl:b_sucursal_rol}' />
		<col id='smn_area_servicio_rf_combo' label='${lbl:b_area_rol}' />
		<col id='smn_unidad_servicio_rf_combo' label='${lbl:b_unidad_rol}' />

	</excel>

</config>
