<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Actualiza valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_presupuesto_detalle_id</colname>
			<colname>smn_servicios_rf</colname>
			<colname>smn_item_rf</colname>
			<colname>smn_codigo_impuesto_id</colname>
			<colname>pim_base_imponible_ml</colname>
			<colname>pim_base_excenta_ml</colname>
			<colname>pim_monto_impuesto_ml</colname>
			<colname>pim_monto_sustraendo_ml</colname>
			<colname>pim_monto_neto_impuesto_ml</colname>
			<colname>smn_tasa_rf</colname>
			<colname>smn_moneda_rf</colname>
			<colname>pim_base_imponible_ma</colname>
			<colname>pim_base_excenta_ma</colname>
			<colname>pim_monto_impuesto_ma</colname>
			<colname>pim_monto_sustraendo_ma</colname>
			<colname>pim_monto_neto_impuesto_ma</colname>
		
		</cols>
		<table>smn_salud.smn_presupuesto_impuesto</table>
		<oper>ACTUALIZAR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>update.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
