<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
	Retornar el PID (Process ID) de Tomcat 6
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GetPID</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>output.txt</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/plain</content-type>
		<expiration>0</expiration>
	</output>

</config>
