<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrutapaciente.sql" source="sql" scope="session" on-empty-return="1" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>estatus.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<print mode="table" recordset="query-smnrutapaciente.sql" tag="smn_estatus_rows"/>
	</output>

</config>
