<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='2%'/>
	<col width='2%'/>
	<col width='2%'/>
	<col width='2%'/>
	<col width='2%'/>
	<col width='2%'/>
	<col width='2%'/>
	<col width='2%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='2%'/>
	<col width='2%'/>


	<!--toolbar-->
	<tr>
		<th colspan="19" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th>R$</th>
		<th>RB</th>
		<th>EC</th>
		<th></th>
		<th></th>
		<th>AP</th>
		<th>GE</th>
		<th class='sortable' onclick='sortBy("smn_entidades_rf","query-smnpresupuesto.sql")'>${lbl:b_pre_entidades}</th>
		<th class='sortable' onclick='sortBy("smn_documento_id","query-smnpresupuesto.sql")'>${lbl:b_pre_documento}</th>
		<th class='sortable' onclick='sortBy("contratante","query-smnpresupuesto.sql")'>${lbl:b_contratante}</th>
		<th class='sortable' onclick='sortBy("paciente","query-smnpresupuesto.sql")'>${lbl:b_patient}</th>
		<th class='sortable' onclick='sortBy("pre_numero_control","query-smnpresupuesto.sql")'>${lbl:b_pre_num_control}</th>
		<th class='sortable' onclick='sortBy("pre_monto_ml","query-smnpresupuesto.sql")'>${lbl:b_pre_monto_loc}</th>
		<th class='sortable' onclick='sortBy("pre_monto_ma","query-smnpresupuesto.sql")'>${lbl:b_pre_monto_alt}</th>
		<th class='sortable' onclick='sortBy("status","query-smnpresupuesto.sql")'>${lbl:b_status}</th>	
		<th class='sortable' onclick='sortBy("pre_fecha_registro","query-smnpresupuesto.sql")'>${lbl:b_store_date}</th>
		<th>PD</th>
		<th>SP</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_presupuesto_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/search.png"  onclick="openPDF_presupuesto_ma('${fld:smn_presupuesto_id}')" title="Ver Reporte"></td>
		<td><img src="${def:context}/images/search.png"  onclick="openPDF_presupuesto_ml('${fld:smn_presupuesto_id}')" title="Ver Reporte"></td>
		<td><img src="${def:context}/images/email.png"  onclick="openEmails('${fld:smn_presupuesto_id}')" title="Enviar Presupuesto"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_presupuesto_id}','${fld:estatus}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_presupuesto_id}','${fld:estatus}')" title="${lbl:b_edit_button}"></td>
		<td><img src="${def:context}/images/accept.png" onclick="aprobar('${fld:smn_presupuesto_id}','${fld:estatus}','${fld:smn_ingresos_id}',
		'${fld:pre_monto_neto_moneda_local}','${fld:pre_monto_neto_moneda_alterna}')" title="Generar"></td>
		<td><img src="${def:context}/images/icongrid/Generar.png" onclick="generar('${fld:smn_presupuesto_id}','${fld:estatus}')" title="Generar"></td>
		<td>${fld:smn_entidades_rf}</td>
		<td>${fld:smn_documento_id}</td>
		<td align='left'>${fld:contratante}</td>
		<td align='left'>${fld:paciente}</td>
		<td align='center'>${fld:pre_numero_control}</td>	
		<td align='right'>${fld:pre_monto_ml@#,###,##0.00}</td>
		<td align='right'>${fld:pre_monto_neto_moneda_alterna@#,###,##0.00}</td>
		<td align='center'>${fld:status}</td>
		<td>${fld:pre_fecha_registro@dd-MM-yyyy}</td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="presupuesto_detalle('${fld:smn_presupuesto_id}','${fld:pre_numero_control}','${fld:smn_baremo_rf}','${fld:estatus}','${fld:tipotasa}','${fld:maneja_mon_alterna}','${fld:status}')" title="${lbl:b_presupuesto_det}"></td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="solicitud_presupuesto('${fld:smn_presupuesto_id}','${fld:pre_numero_control}','${fld:smn_baremo_rf}','${fld:estatus}','${fld:tipotasa}','${fld:maneja_mon_alterna}')" title="Solicitud Presupuesto"></td>
	</tr>
	</rows>

</table>
