<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpresupuestoimpuesto.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_presupuesto_impuesto}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_presupuesto_impuesto}">
				<col id='smn_presupuesto_detalle_id' label='${lbl:b_presupuesto_det}' />
		<col id='smn_servicios_rf' label='${lbl:b_service}' />
		<col id='smn_item_rf' label='${lbl:b_item}' />
		<col id='smn_codigo_impuesto_id' label='${lbl:b_codigo_impuesto}' />
		<col id='pim_base_imponible_ml' label='${lbl:b_base_imponible_ml}' />
		<col id='pim_base_excenta_ml' label='${lbl:b_base_excenta_ml}' />
		<col id='pim_monto_impuesto_ml' label='${lbl:b_monto_impuesto_ml}' />
		<col id='pim_monto_sustraendo_ml' label='${lbl:b_monto_sustraendo_ma}' />
		<col id='pim_monto_neto_impuesto_ml' label='${lbl:b_monto_neto_impuesto_ml}' />
		<col id='smn_tasa_rf' label='${lbl:b_exchange_rate}' />
		<col id='smn_moneda_rf' label='${lbl:b_coins}' />
		<col id='pim_base_imponible_ma' label='${lbl:b_base_imponible_ma}' />
		<col id='pim_base_excenta_ma' label='${lbl:b_base_excenta_ma}' />
		<col id='pim_monto_impuesto_ma' label='${lbl:b_monto_impuesto_ma}' />
		<col id='pim_monto_sustraendo_ma' label='${lbl:b_monto_sustraendo_ma}' />
		<col id='pim_monto_neto_impuesto_ma' label='${lbl:b_monto_neto_impuesto_ma}' />
		<col id='pim_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
