<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordenesmedicas.sql" source="session" scope="transaction" />
		<recordset id='query-smnvauxiliar.sql' source='sql' scope='transaction' />
	<recordset id='query-smnclaseauxiliar.sql' source='sql' scope='transaction' />
	
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_orders_medics}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_orders_medics}">
				<col id='smn_ingreso_id' label='${lbl:b_ingreso}' />
		<col id='omd_numero_orden' label='${lbl:b_code}' />
		<col id='omd_descripcion' label='${lbl:b_description}' />
		<col id='smn_prestador_servicio_rf' label='${lbl:b_service_providers}' />
		<col id='omd_clase_auxiliar' label='${lbl:b_auxiliary_class}' />
		<col id='omd_auxiliar' label='${lbl:b_auxiliary}' />
		<col id='omd_num_doc_oficial' label='${lbl:b_budget_number}' />
		<col id='omd_tipo_orden' label='${lbl:b_order_type}' />
		<col id='omd_indicaciones' label='${lbl:b_indications}' />
		<col id='omd_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
		<sheet recordset='query-smnvauxiliar.sql' sheetname=''>
		<col id='smn_item' label='${lbl:}' />
	</sheet>

	<sheet recordset='query-smnclaseauxiliar.sql' sheetname=''>
		<col id='cla_nombre' label='${lbl:b_name}' />
	</sheet>


	</excel>

</config>
