<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_room}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_activo_fijo_rf.sql' source='sql' scope='transaction'/><recordset id='query-hab_tipo_servicio.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_areas_servicios_rf.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_activo_fijo_rf.sql' tag='smn_activo_fijo_rf_rows'/><print mode='table' recordset='query-hab_tipo_servicio.sql' tag='hab_tipo_servicio_rows'/>
		<print mode='table' recordset='query-smn_areas_servicios_rf.sql' tag='smn_areas_servicios_rf_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
