<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnauxiliarcuentabancaria.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_rel_auxiliary_bank_account_person_nature}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_rel_auxiliary_bank_account_person_nature}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnauxiliarcuentabancaria.sql' width='100' spacingBefore='40'>
			<col name='smn_clase_auxiliar_rf' title='${lbl:b_class_auxiliary}' width='16' align='left'  />
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliary}' width='16' align='left'  />
			<col name='acb_num_cuenta' title='${lbl:b_account_number}' width='16' align='left' />
			<col name='tcb_descripcion' title='${lbl:b_account_bank_type}' width='16' align='left'  />
			<col name='efi_nombre' title='${lbl:b_bank}' width='16' align='left'  />
			<col name='acb_fecha_registro' title='${lbl:b_store_date}' width='16' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
