<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>


	<!--toolbar-->
	<tr>
		<th colspan="15" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_contrato_base_rf","query-smncontratomodulo.sql")'>${lbl:b_contrato_base}</th>
		<th class='sortable' onclick='sortBy("smn_documento_id","query-smncontratomodulo.sql")'>${lbl:b_contrato_doc}</th>
		<th class='sortable' onclick='sortBy("ctm_numero_contrato","query-smncontratomodulo.sql")'>${lbl:b_number_contract}</th>
		<th class='sortable' onclick='sortBy("smn_contratante_id","query-smncontratomodulo.sql")'>${lbl:b_contratante}</th>
		<th class='sortable' onclick='sortBy("smn_planes_id","query-smncontratomodulo.sql")'>${lbl:b_planes}</th>
		<th class='sortable' onclick='sortBy("ctm_cantidad_afiliados","query-smncontratomodulo.sql")'>${lbl:b_quantity_afiliated}</th>
		<th class='sortable' onclick='sortBy("ctm_monto_contrato","query-smncontratomodulo.sql")'>${lbl:b_amount_contract}</th>
		<th class='sortable' onclick='sortBy("ctm_monto_cobertura_afiliado","query-smncontratomodulo.sql")'>${lbl:b_amount_coverage_afiliated}</th>
		<th class='sortable' onclick='sortBy("ctm_cantidad_citas","query-smncontratomodulo.sql")'>${lbl:b_quantity_citas}</th>
		<th class='sortable' onclick='sortBy("ctm_estatus_proceso","query-smncontratomodulo.sql")'>${lbl:b_status_process}</th>
		<th class='sortable' onclick='sortBy("ctm_estatus_financiero","query-smncontratomodulo.sql")'>Estatus Financiero</th>
		<th class='sortable' onclick='sortBy("ctm_fecha_registro","query-smncontratomodulo.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_contrato_modulo_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_contrato_modulo_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_contrato_modulo_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_contrato_base_rf}</td>
		<td>${fld:smn_documento_id}</td>
		<td>${fld:ctm_numero_contrato}</td>
		<td>${fld:smn_contratante_id}</td>
		<td>${fld:smn_planes_id}</td>
		<td>${fld:ctm_cantidad_afiliados}</td>
		<td align='right'>${fld:ctm_monto_contrato@#,###,##0.00}</td>
		<td align='right'>${fld:ctm_monto_cobertura_afiliado@#,###,##0.00}</td>
		<td>${fld:ctm_cantidad_citas}</td>
		<td align='left'>${fld:ctm_estatus_proceso}</td>
		<td align='left'>${fld:ctm_estatus_financiero}</td>
		<td>${fld:ctm_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
