<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smndispositivos.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_dispositivos}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_dispositivos}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smndispositivos.sql' width='100' spacingBefore='40'>
			<col name='dis_codigo' title='${lbl:b_codigo_dis}' width='14' align='left' />
			<col name='dis_nombre' title='${lbl:b_nombre_dis}' width='14' align='left' />
			<col name='dis_tipo_combo' title='${lbl:b_tipo_dispositivo}' width='14' align='left' />
			<col name='smn_entidades_rf_combo' title='${lbl:b_entidades}' width='14' align='left' format='######' />
			<col name='smn_sucursales_rf_combo' title='${lbl:b_sucursales}' width='14' align='left' format='######' />
			<col name='smn_areas_servicios_rf_combo' title='${lbl:b_area_servicio}' width='14' align='left' format='######' />
			<col name='dis_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
