<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Display menu based on user roles
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.security.GetMenu</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-master1.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.security.MenuOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
	</output>

</config>
