<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelcontrolquirofanoprestador.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_relacion_quirofano_prest}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_relacion_quirofano_prest}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnrelcontrolquirofanoprestador.sql' width='100' spacingBefore='40'>
			<col name='smn_control_quirofano_id' title='${lbl:b_control_quirofano}' width='20' align='left' format='######' />
			<col name='smn_servicios_rf' title='${lbl:b_services}' width='20' align='left' format='######' />
			<col name='smn_componente_rf' title='${lbl:b_component}' width='20' align='left' format='######' />
			<col name='smn_grupo_prestador_servicio_rf' title='${lbl:b_grupo_prestador_servicio}' width='20' align='left' format='######' />
			<col name='smn_prestador_servicio_rf' title='${lbl:b_service_provider}' width='20' align='left' format='######' />

		</record>

	</pdf-report>
</config>
