<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnplanquirurgico.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_plan_quirurgico}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_plan_quirurgico}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnplanquirurgico.sql' width='100' spacingBefore='40'>
			<col name='smn_entidad_rf' title='${lbl:b_entidades_rp}' width='7' align='left' format='######' />
			<col name='smn_sucursal_rf' title='${lbl:b_sucursal_rp}' width='7' align='left' format='######' />
			<col name='smn_habitaciones_id' title='${lbl:b_habitaciones}' width='7' align='left' format='######' />
			<col name='smn_contratante_id' title='${lbl:b_contratante}' width='7' align='left' format='######' />
			<col name='smn_clase_auxiliar_rf' title='${lbl:b_paciente_clase}' width='7' align='left' format='######' />
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliary_pa}' width='7' align='left' format='######' />
			<col name='smn_patologia_rf' title='${lbl:b_surgery}' width='7' align='left' format='######' />
			<col name='plq_fecha_cirugia' title='${lbl:b_surgery_date}' width='7' align='left' format='dd-MM-yyyy' />
			<col name='plq_hora_inicial' title='${lbl:b_entry_hour}' width='7' align='left' />
			<col name='plq_hora_final' title='${lbl:b_exit_hour}' width='7' align='left' />
			<col name='plq_cantidad_horas' title='${lbl:b_quantity_hour}' width='7' align='left' format='######' />
			<col name='plq_estatus' title='${lbl:b_status}' width='7' align='left' />
			<col name='plq_fecha_registro' title='${lbl:b_store_date}' width='7' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
