<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnobservacionescitas.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_observation}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-smnobservacionescitas.sql' width='100' spacingBefore='40'>
			<col name='obc_codigo' title='${lbl:b_code}' width='16' align='left' />
			<col name='obc_descripcion' title='${lbl:b_description}' width='16' align='left' />
			<col name='obc_idioma' title='${lbl:s_profile_lang}' width='16' align='left' />
			<col name='obc_usuario' title='${lbl:b_users}' width='16' align='left' />
			<col name='obc_fecha_registro' title='${lbl:b_store_date}' width='16' align='center' format='dd-MM-yyyy' />
			<col name='obc_hora' title='${lbl:s_loginhist_col2}' width='16' align='left' />
		</table>

	</pdf-report>
</config>