<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_roles}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_usuario_id.sql' source='sql' scope='transaction'/><recordset id='query-smn_corporacion_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_entidad_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_sucursal_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_area_servicio_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_unidad_servicio_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_estructura_organizacional_rf.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_usuario_id.sql' tag='smn_usuario_id_rows'/><print mode='table' recordset='query-smn_corporacion_rf.sql' tag='smn_corporacion_rf_rows'/><print mode='table' recordset='query-smn_entidad_rf.sql' tag='smn_entidad_rf_rows'/><print mode='table' recordset='query-smn_sucursal_rf.sql' tag='smn_sucursal_rf_rows'/><print mode='table' recordset='query-smn_area_servicio_rf.sql' tag='smn_area_servicio_rf_rows'/><print mode='table' recordset='query-smn_unidad_servicio_rf.sql' tag='smn_unidad_servicio_rf_rows'/><print mode='table' recordset='query-smn_estructura_organizacional_rf.sql' tag='smn_estructura_organizacional_rf_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
