<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Get query with path images
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="sql" scope="request" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/plain; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
