<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrutapaciente.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>Informes Pendientes</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='filter.params' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='55' spacingBefore='15'>
	
			<col name='smn_entidades_rf' title='${lbl:b_entidades_rp}'  format='######' align='center' />
			<col name='smn_sucursales_rf' title='${lbl:b_sucursal_rp}'  format='######' align='center' />
			<col name='smn_prestador_servicio_rf' title='${lbl:b_services_providers}'  format='######' align='center' />
			<col name='igs_num_ingreso' title='Numero Ingreso'  format='######' align='center' />
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliary}'  format='######' align='center' />
			<col name='psd_estatus' title='${lbl:b_status}'  align='center' />
			<col name='igs_fecha_ingreso' title='Fecha Ingreso'  format='dd-MM-yyyy' align='center' />
		</record>
		<table recordset='query-smnrutapaciente.sql' width='100' spacingBefore='10'>
			<col name='smn_entidades_rf' title='${lbl:b_entidades_rp}' width='7' align='center' />
			<col name='smn_sucursales_rf' title='${lbl:b_sucursal_rp}' width='7' align='center'/>
			<col name='smn_grupo_prestador_rf' title='Grupo Prestador' width='7' align='center' />
			<col name='smn_prestador_servicio_rf' title='${lbl:b_service_providers}' width='7' align='left' />
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliary}' width='7' align='center' />
			<col name='igs_fecha_ingreso' title='Fecha Ingreso' width='20' align='left' format='dd-MM-yyyy' />
			<col name='igs_num_ingreso' title='Num. Ingreso' width='7' align='center' format='######' />
			<col name='smn_cuestionario_rf' title='Cuestionario' width='7' align='left' />
			<col name='psd_estatus' title='${lbl:b_status}' width='7' align='left' />
		</table>

	</pdf-report>
</config>