<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='22%'/>


	<!--toolbar-->
	<tr>
		<th colspan="7" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('hor_codigo','query-smnhorario.sql')" >${lbl:b_hor_cod}</th>
		<th class='sortable' onclick="sortBy('hor_descripcion','query-smnhorario.sql')" >${lbl:b_hor_desc}</th>
		<th class='sortable' onclick="sortBy('hor_status_combo','query-smnhorario.sql')" >${lbl:b_hor_status}</th>
		<th class='sortable' onclick="sortBy('hor_fecha_registro','query-smnhorario.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_horario_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_horario_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_horario_id}')" title="${lbl:b_edit_button}"></td>
		<td align="left">${fld:hor_codigo}</td>
		<td align="left">${fld:hor_descripcion}</td>
		<td align="left">${fld:hor_status_combo}</td>
		<td align="center">${fld:hor_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
