<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smndocumentoafiliados.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smndocumentoafiliados.sql' sheetname='${lbl:b_documents}' filename='smn_doc_afiliado.xls'>
		<col id='smn_tipo_documento_afiliado_id' label='${lbl:b_document_type}' />
		<col id='doc_desc_documento' label='${lbl:b_document}' />
		<col id='smn_afiliados_id' label='${lbl:b_afiliados}' />
		<col id='doc_archivo' label='${lbl:b_file}' />
		<col id='doc_contenido' label='${lbl:b_content}' />
		<col id='doc_descripcion' label='${lbl:b_description}' />
		<col id='doc_tamano' label='${lbl:b_size}' />
		<col id='doc_idioma' label='${lbl:s_profile_lang}' />
		<col id='doc_usuario' label='${lbl:b_users}' />
		<col id='doc_fecha_registro' label='${lbl:b_store_date}' />
		<col id='doc_hora' label='${lbl:s_loginhist_col2}' />
	</excel>

</config>