<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_habitaciones_id","query-smnhabitacionesdisponibles.sql")'>${lbl:b_room}</th>
		<th class='sortable' onclick='sortBy("smn_ingreso_id","query-smnhabitacionesdisponibles.sql")'>${lbl:b_ingreso}</th>
		<th class='sortable' onclick='sortBy("had_fecha_ingreso","query-smnhabitacionesdisponibles.sql")'>${lbl:b_date_ing}</th>
		<th class='sortable' onclick='sortBy("had_fecha_egreso","query-smnhabitacionesdisponibles.sql")'>${lbl:b_date_egr}</th>
		<th class='sortable' onclick='sortBy("had_estatus","query-smnhabitacionesdisponibles.sql")'>${lbl:b_status}</th>
		<th class='sortable' onclick='sortBy("had_fecha_registro","query-smnhabitacionesdisponibles.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_habitaciones_disponibles_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_habitaciones_disponibles_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_habitaciones_disponibles_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_habitaciones_id}</td>
		<td>${fld:smn_ingreso_id}</td>
		<td>${fld:had_fecha_ingreso@dd-MM-yyyy}</td>
		<td>${fld:had_fecha_egreso@dd-MM-yyyy}</td>
		<td align='left'>${fld:had_estatus}</td>
		<td>${fld:had_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
