<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrecipemedico.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_prescription_medic}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_prescription_medic}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='rec_fecha' title='${lbl:b_prescription_date}'  format='dd-MM-yyyy' align='left' />
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliary}'   align='left' />
			<col name='smn_patologia_id' title='${lbl:b_pathology}'   align='left' />
			<col name='smn_prestador_servicio_rf' title='${lbl:b_service_providers}'   align='left' />
			<col name='smn_contratante_id' title='${lbl:b_contratante}'   align='left' />
			<col name='rec_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='rec_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnrecipemedico.sql' width='100' spacingBefore='10'>
			<col name='rec_fecha' title='${lbl:b_prescription_date}' width='12' align='left' format='dd-MM-yyyy' />
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliary}' width='12' align='left'  />
			<col name='smn_patologia_id' title='${lbl:b_pathology}' width='12' align='left'  />
			<col name='smn_prestador_servicio_rf' title='${lbl:b_service_providers}' width='12' align='left'  />
			<col name='smn_farmaceuta_prestador_servicio_rf' title='${lbl:b_service_providers}' width='12' align='left'  />
			<col name='rec_fecha_aprobacion' title='${lbl:b_aprobated_date}' width='12' align='left' format='dd-MM-yyyy' />
			<col name='rec_estatus' title='${lbl:b_estatus}' width='12' align='left' />
			<col name='rec_fecha_registro' title='${lbl:b_store_date}' width='12' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
