<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_budget_request_honorary}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_servicios_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_componentes_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_grupo_prestador_servicio_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_prestador_serviciorf.sql' source='sql' scope='transaction'/><recordset id='query-smn_tasa_id.sql' source='sql' scope='transaction'/><recordset id='query-smn_moneda_id.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_servicios_rf.sql' tag='smn_servicios_rf_rows'/><print mode='table' recordset='query-smn_componentes_rf.sql' tag='smn_componentes_rf_rows'/><print mode='table' recordset='query-smn_grupo_prestador_servicio_rf.sql' tag='smn_grupo_prestador_servicio_rf_rows'/><print mode='table' recordset='query-smn_prestador_serviciorf.sql' tag='smn_prestador_serviciorf_rows'/><print mode='table' recordset='query-smn_tasa_id.sql' tag='smn_tasa_id_rows'/><print mode='table' recordset='query-smn_moneda_id.sql' tag='smn_moneda_id_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
