<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_rel_order_medical_services}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_servicios_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_grupo_prestador_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_prestador_servicio_rf.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_servicios_rf.sql' tag='smn_servicios_rf_rows'/>
		<print mode='table' recordset='query-smn_grupo_prestador_rf.sql' tag='smn_grupo_prestador_servicio_rf_rows'/>
		<print mode='table' recordset='query-smn_prestador_servicio_rf.sql' tag='smn_prestador_servicio_rf_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
