<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpaciente.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_patient}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_patient}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnpaciente.sql' width='100' spacingBefore='40'>
			<col name='smn_clasificacion_paciente_id' title='${lbl:b_clasificacion_cliente}' width='9' align='left' format='######' />
			<col name='smn_clase_auxiliar_rf' title='${lbl:b_auxiliary_class}' width='9' align='left' format='######' />
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliary}' width='9' align='left' format='######' />
			<col name='smn_clasificacion_abc_rf' title='${lbl:b_abc_clasification}' width='9' align='left' format='######' />
			<col name='smn_sector_economico_rf' title='${lbl:b_economic_sectors}' width='9' align='left' format='######' />
			<col name='pac_nacional_ext' title='${lbl:b_cliente_nacional_extranjero}' width='9' align='left' />
			<col name='smn_promotor_rf' title='${lbl:b_promotor}' width='9' align='left' format='######' />
			<col name='smn_forma_pago_rf' title='${lbl:b_way_to_pay}' width='9' align='left' format='######' />
			<col name='pac_vigencia' title='${lbl:b_validation_date}' width='9' align='left' format='dd-MM-yyyy' />
			<col name='pac_estatus' title='${lbl:b_status}' width='9' align='left' />
			<col name='pac_fecha_registro' title='${lbl:b_store_date}' width='9' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
