<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Actualiza valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_agenda_id</colname>
			<colname>smn_entidades_rf</colname>
			<colname>smn_sucursales_rf</colname>
			<colname>smn_areas_servicios_rf</colname>
			<colname>smn_unidades_servicios_rf</colname>
			<colname>smn_grupo_prestador_servicio_rf</colname>
			<colname>smn_prestador_servicio_rf</colname>
			<colname>smn_especialidad_rf</colname>
			<colname>agm_jornada_desde_rf</colname>
			<colname>agm_frecuencia</colname>
			<colname>agm_cantidad_frecuencia</colname>
			<colname>agm_estatus</colname>
			<colname>smn_habitaciones_id</colname>
		
		</cols>
		<table>smn_salud.smn_agenda_medica</table>
		<oper>ACTUALIZAR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>update.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
