<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Toolbar para grid paginado
	</summary>

	<log>false</log>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>controls.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
	</output>

</config>
