<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnsector.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_sector}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_sector}">
				<col id='sec_codigo' label='${lbl:b_cod_sector}' />
		<col id='sec_descripcion' label='${lbl:b_desc_sector}' />
		<col id='smn_pais_rf_combo' label='${lbl:b_pais_sector}' />
		<col id='smn_entidades_federales_rf_combo' label='${lbl:b_entidad_sector}' />
		<col id='smn_ciudades_rf_combo' label='${lbl:b_cdad_sector}' />
		<col id='smn_municipios_rf_combo' label='${lbl:b_municipios_sector}' />
		<col id='smn_parroquias_rf_combo' label='${lbl:b_parroquias_sector}' />
		<col id='smn_zonas_postales_rf_combo' label='${lbl:b_zonas_sector}' />
		<col id='sec_codigo' label='${lbl:b_cod_sector}' />
		<col id='sec_descripcion' label='${lbl:b_desc_sector}' />
		<col id='smn_pais_rf_combo' label='${lbl:b_pais_sector}' />
		<col id='smn_entidades_federales_rf_combo' label='${lbl:b_entidad_sector}' />
		<col id='smn_ciudades_rf_combo' label='${lbl:b_cdad_sector}' />
		<col id='smn_municipios_rf_combo' label='${lbl:b_municipios_sector}' />
		<col id='sec_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
