<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>

	<!--toolbar-->
	<tr>
		<th colspan="6">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th class='sortable' onclick='sortBy("tco_codigo","query-smntipocoberturas.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("tco_descripcion","query-smntipocoberturas.sql")'>${lbl:b_description}</th>
		<th class='sortable' onclick='sortBy("tco_idioma","query-smntipocoberturas.sql")'>${lbl:s_profile_lang}</th>
		<th class='sortable' onclick='sortBy("tco_usuario","query-smntipocoberturas.sql")'>${lbl:b_users}</th>
		<th class='sortable' onclick='sortBy("tco_fecha_registro","query-smntipocoberturas.sql")'>${lbl:b_store_date}</th>
		<th class='sortable' onclick='sortBy("tco_hora","query-smntipocoberturas.sql")'>${lbl:s_loginhist_col2}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td align='left'>${fld:tco_codigo}</td>
		<td align='left'>${fld:tco_descripcion}</td>
		<td align='left'>${fld:tco_idioma}</td>
		<td align='left'>${fld:tco_usuario}</td>
		<td>${fld:tco_fecha_registro@dd-MM-yyyy}</td>
		<td align='left'>${fld:tco_hora}</td>
	</tr>
	</rows>

</table>
