<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnpresupuestocomponente.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_presupuesto_detalle_id</colname>
			<colname>smn_presupuesto_id</colname>
			<colname>smn_servicios_rf</colname>
			<colname>smn_tipos_componentes_rf</colname>
			<colname>smn_componentes_rf</colname>
			<colname>prc_visible_rf</colname>
			<colname>prc_fecha_registro_ini</colname>
			<colname>prc_fecha_registro_fin</colname>
		
		</cols>
		<table>smn_salud.smn_presupuesto_componente</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smnpresupuestocomponente.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>smn_presupuesto_detalle_id;smn_presupuesto_id;smn_servicios_rf;smn_tipos_componentes_rf;smn_componentes_rf;prc_visible_rf;prc_fecha_registro_ini;prc_fecha_registro_fin;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
