<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Return JS in order to fill a combobox depending of value that send to this action
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTableManager</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="nextval.sql" source="sql" scope="transaction" />
		<recordset id="nextvalCola.sql" source="sql" scope="transaction" />
			<recordset id="ingresocola" source="session" scope="transaction" />
	</transaction>

	<query>insertCola.sql</query>
	<query>update.sql</query>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>usuario.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<print mode="form" recordset="nextval.sql" />
		<print mode="form" recordset="nextvalCola.sql" />
			<print mode="form" recordset="ingresocola" />
		
	</output>

</config>
