<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_citas}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_entidades_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_sucursales_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_areas_servicios_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_unidad_servicio_rf.sql' source='sql' scope='transaction'/>
		<recordset id="user-info.sql" source="sql" scope="session" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_entidades_rf.sql' tag='smn_entidades_id_rows'/>
		<print mode='table' recordset='query-smn_sucursales_rf.sql' tag='smn_sucursales_id_rows'/>
		<print mode='table' recordset='query-smn_areas_servicios_rf.sql' tag='smn_area_id_rows'/>
		<print mode='table' recordset='query-smn_unidad_servicio_rf.sql' tag='smn_unidad_servicio_rf_rows'/>
		<print mode="form" recordset="_request" /> 
		<print mode="form" recordset="user-info.sql" />
	</output>

</config>
