<?xml version='1.0' encoding='ISO-8859-1'?>
<config>
	<summary>
		Mensajes
	</summary>
	
	<log>false</log>
	
	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="mensaje.sql" source="sql" scope="transaction" />
	</transaction>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="mensaje.sql" tag="rows"/>
	</output>
</config>