<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Insertar registro 
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_contrato_base_rf</colname>
			<colname>smn_documento_id</colname>
			<colname>ctm_numero_contrato</colname>
			<colname>smn_contratante_id</colname>
			<colname>ctm_fecha_vigencia_desde</colname>
			<colname>ctm_fecha_vigencia_hasta</colname>
			<colname>smn_planes_id</colname>
			<colname>ctm_cantidad_afiliados</colname>
			<colname>ctm_monto_contrato</colname>
			<colname>ctm_monto_cobertura_afiliado</colname>
			<colname>ctm_cantidad_servicio_afiliado</colname>
			<colname>ctm_cantidad_dias_cobertura</colname>
			<colname>ctm_cantidad_citas</colname>
			<colname>smn_descuento_rf</colname>
			<colname>ctm_dia_factura</colname>
			<colname>ctm_estatus_proceso</colname>
			<colname>ctm_estatus_financiero</colname>
		
		</cols>
		<table>smn_salud.smn_contrato_modulo</table>
		<oper>AÑADIR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>select ${seq:currval@smn_salud.seq_smn_contrato_modulo} as id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="nextval.sql" source="sql" scope="transaction" />
	</transaction>

	<query>insert.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="_request" />
		<print mode="form" recordset="nextval.sql" />
	</output>
	
	<!-- Envio de email declarativo -->
	<mail enabled="false">
		<subject>Subject</subject>
		<mail-to>martin.cordova@gmail.com</mail-to>
		<body>body.txt</body>
	</mail>

</config>
