<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_appointment_movement}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_citas_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_documento_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_servicios_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_componente_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_tipo_consulta_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_grupo_prestador_servicio_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_prestador_servicio_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-ctm_estatus_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_motivos_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_clase_auxiliar_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_auxiliar_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_sintoma_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_entidades_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_sucursales_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_areas_servicios_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_unidades_servicios_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-ctm_observaciones_id.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_citas_id.sql' tag='smn_citas_id_rows'/>
		<print mode='table' recordset='query-smn_documento_id.sql' tag='smn_documento_id_rows'/>
		<print mode='table' recordset='query-smn_servicios_rf.sql' tag='smn_servicios_rf_rows'/>
		<print mode='table' recordset='query-smn_componente_rf.sql' tag='smn_componente_rf_rows'/>
		<print mode='table' recordset='query-smn_tipo_consulta_id.sql' tag='smn_tipo_consulta_id_rows'/>
		<print mode='table' recordset='query-smn_grupo_prestador_servicio_rf.sql' tag='smn_grupo_prestador_servicio_rf_rows'/>
		<print mode='table' recordset='query-smn_prestador_servicio_rf.sql' tag='smn_prestador_servicio_rf_rows'/>
		<print mode='table' recordset='query-ctm_estatus_id.sql' tag='ctm_estatus_id_rows'/>
		<print mode='table' recordset='query-smn_motivos_id.sql' tag='smn_motivos_id_rows'/>
		<print mode='table' recordset='query-smn_clase_auxiliar_rf.sql' tag='smn_clase_auxiliar_rf_rows'/>
		<print mode='table' recordset='query-smn_auxiliar_rf.sql' tag='smn_auxiliar_rf_rows'/>
		<print mode='table' recordset='query-smn_sintoma_id.sql' tag='smn_sintoma_id_rows'/>
		<print mode='table' recordset='query-smn_entidades_rf.sql' tag='smn_entidades_rf_rows'/>
		<print mode='table' recordset='query-smn_sucursales_rf.sql' tag='smn_sucursales_rf_rows'/>
		<print mode='table' recordset='query-smn_areas_servicios_rf.sql' tag='smn_areas_servicios_rf_rows'/>
		<print mode='table' recordset='query-smn_unidades_servicios_rf.sql' tag='smn_unidades_servicios_rf_rows'/>
		<print mode='table' recordset='query-ctm_observaciones_id.sql' tag='ctm_observaciones_id_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
