<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrecipemedico.sql" source="session" scope="transaction" />
		<recordset id='query-smnprestadoresservicios.sql' source='sql' scope='transaction' />
	
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_prescription_medic}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_prescription_medic}">
				<col id='rec_fecha' label='${lbl:b_prescription_date}' />
		<col id='smn_auxiliar_rf' label='${lbl:b_auxiliary}' />
		<col id='smn_patologia_id' label='${lbl:b_pathology}' />
		<col id='smn_prestador_servicio_rf' label='${lbl:b_service_providers}' />
		<col id='rec_ordenante_nombre' label='${lbl:b_applicant}' />
		<col id='smn_contratante_id' label='${lbl:b_contratante}' />
		<col id='smn_farmaceuta_prestador_servicio_rf' label='${lbl:b_service_providers}' />
		<col id='rec_fecha_aprobacion' label='${lbl:b_aprobated_date}' />
		<col id='rec_estatus' label='${lbl:b_estatus}' />
		<col id='rec_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
		<sheet recordset='query-smnprestadoresservicios.sql' sheetname=''>
		<col id='prs_descripcion' label='${lbl:}' />
	</sheet>


	</excel>

</config>
