<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncamposvisualizacionmonitoresdispositivos.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_campo_vis_mon}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_campo_vis_mon}">
				<col id='smn_dispositivos_id_combo' label='${lbl:b_dispositivos}' />
		<col id='smn_series_id_combo' label='${lbl:b_serie}' />
		<col id='cvm_datos_pac_combo' label='${lbl:b_aux_campos_vis_mon}' />
		<col id='cvm_unidad_llamada_combo' label='${lbl:b_unidad_llamada}' />
		<col id='cvm_pacientes_espera_combo' label='${lbl:b_paciente_espera}' />
		<col id='cvm_tiempo_aprox_espera_combo' label='${lbl:b_tiempo_aprox_espera}' />
		<col id='cvm_idioma' label='${lbl:s_profile_lang}' />
		<col id='cvm_usuario_id' label='${lbl:b_users}' />
		<col id='cvm_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
