<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='33%'/>
	<col width='33%'/>
	<col width='33%'/>

	<!--toolbar-->
	<tr>
		<th colspan="3">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th class='sortable' onclick='sortBy("acc_codigo","query-smnacciones.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("acc_descripcion","query-smnacciones.sql")'>${lbl:b_desecription}</th>
		<th class='sortable' onclick='sortBy("acc_fecha_registro","query-smnacciones.sql")'>${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td align='left'>${fld:acc_codigo}</td>
		<td align='left'>${fld:acc_descripcion}</td>
		<td>${fld:acc_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
