<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelacionunidadpaso.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_rel_uni_paso}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_rel_uni_paso}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_area_servicio_rf' title='${lbl:b_service_area}'  format='######' align='left' />
			<col name='smn_paso_rf' title='${lbl:b_paso}'  format='######' align='left' />
			<col name='rup_fecha_registro' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnrelacionunidadpaso.sql' width='100' spacingBefore='10'>
			<col name='smn_area_servicio_rf_combo' title='${lbl:b_service_area}' width='14' align='left' format='######' />
			<col name='smn_unidad_servicio_rf_combo' title='${lbl:b_service_units}' width='14' align='left' format='######' />
			<col name='smn_paso_rf_combo' title='${lbl:b_paso}' width='14' align='left' format='######' />
			<col name='smn_serie_id_combo' title='${lbl:b_serie}' width='14' align='left' format='######' />
			<col name='rup_secuencia' title='${lbl:b_rel_uni_paso_sec}' width='14' align='left' format='######' />
			<col name='rup_unidad_administrativa' title='${lbl:b_united_administrative}' width='14' align='left' format='######' />
			<col name='rup_estatus_combo' title='${lbl:b_status}' width='14' align='left' />
			<col name='rup_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
