<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_cobertura}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-cob_unidad_tiempo_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_localidad.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_horario.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_tipo_coberturas_id.sql' source='sql' scope='transaction'/>
		


	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-cob_unidad_tiempo_rf.sql' tag='cob_unidad_tiempo_rf_rows'/>
		<print mode='table' recordset='query-smn_localidad.sql' tag='smn_localidad_rows'/>
		<print mode='table' recordset='query-smn_horario.sql' tag='smn_horario_rows'/>
		<print mode='table' recordset='query-smn_tipo_coberturas_id.sql' tag='smn_tipo_coberturas_id_rows'/>
		
	
		<print mode="form" recordset="_request" /> 
	</output>
	
	

</config>
