<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnprestacionserviciomedicodetalle.sql" source="session" scope="transaction" />
		<recordset id='query-smnobservaciones.sql' source='sql' scope='transaction' />
	
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_detail_medic_provider_services}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_detail_medic_provider_services}">
				<col id='psc_estatus_pl0' label='${lbl:b_header_medic_provider_services}' />
		<col id='smn_mov_caja_detalle_id_combo' label='${lbl:b_movement_caj_detail}' />
		<col id='inm_localidad_pl1' label='${lbl:b_appointment_movement}' />
		<col id='smn_unidades_servicios_rf_combo' label='${lbl:b_service_units}' />
		<col id='smn_almacen_rf_combo' label='${lbl:b_store_code}' />
		<col id='smn_servicios_rf_combo' label='${lbl:b_services}' />
		<col id='psd_tipo_componentes_combo' label='${lbl:b_components_types}' />
		<col id='smn_componentes_rf_combo' label='${lbl:b_component}' />
		<col id='smn_item_rf_combo' label='${lbl:b_item}' />
		<col id='smn_prestador_servicio_rf_combo' label='${lbl:b_service_provider}' />
		<col id='psd_cantidad' label='${lbl:b_quantity}' />
		<col id='psd_precio_propuesto_ml' label='${lbl:b_price_ml}' />
		<col id='psd_monto_propuesto_ml' label='${lbl:b_amount_ml}' />
		<col id='smn_descuento_ml_rf' label='${lbl:b_discount_ml}' />
		<col id='smn_moneda_rf_combo' label='${lbl:b_coins}' />
		<col id='psd_precio_propuesto_ma' label='${lbl:b_price_ma}' />
		<col id='psd_monto_propuesto_ma' label='${lbl:b_amount_ma}' />
		<col id='psd_monto_descuento_propuesto_ml' label='${lbl:b_discount_amount_ml}' />
		<col id='psd_monto_descuento_propuesto_ma' label='${lbl:b_discount_amount_ma}' />
		<col id='psd_monto_neto_propuesto_ml' label='${lbl:b_net_amount_ml}' />
		<col id='psd_monto_neto_propuesto_ma' label='${lbl:b_net_amount_ma}' />
		<col id='psd_estatus_combo' label='${lbl:b_status}' />
		<col id='psd_agregado_usuario_combo' label='${lbl:b_user_add}' />
		<col id='psd_observaciones_rf_combo' label='${lbl:b_observations}' />
		<col id='smn_rol_id' label='${lbl:b_rol}' />
		<col id='psd_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
		<sheet recordset='query-smnobservaciones.sql' sheetname=''>
		<col id='obs_descripcion' label='${lbl:b_description}' />
	</sheet>


	</excel>

</config>
