<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-viewchart.sql" source="session" scope="transaction" />
		<recordset id="total" source="session" scope="transaction" />
		<recordset id="viewchart.filter" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>Atencion Paciente</pdf-title>
	<pdf-logo url='/images/logo_vistacalifornia-pdf.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='viewchart.filter' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='60' spacingBefore='20'>
			<col name='smn_entidad_rf_name' title='${lbl:b_entidades_rp}'   width='60' align='center' />
			<col name='smn_sucursal_rf_name' title='${lbl:b_sucursal_rp}'   width='60' align='center' />
			<col name='smn_area_servicio_rf_name' title='${lbl:b_area_rp}'   width='60' align='center' />
			<col name='tipo_unidad_rp_name' title='${lbl:b_tipo_unidad_rp}'   width='60' align='center' />
			<col name='smn_unidad_servicio_rf_name' title='${lbl:b_units_service}'   width='60' align='center' />
			<col name='rta_ejecutivo_asignado_name' title='${lbl:b_ejecutivo_asignado}'   width='60' align='center' />
			<col name='igs_fecha_ingreso_desde' title='${lbl:b_entry_date_from}'   width='60' align='center' />
			<col name='igs_fecha_ingreso_hasta' title='${lbl:b_entry_date_to}'   width='60' align='center' />
			
		</record>
		<table recordset='query-viewchart.sql' width='70' spacingBefore='10' >
			<col name='item' title='Item' width='60' align='left' />
			<col name='subtotal' title='Total' format='#,###,##0.00' width='40' align='right' />
		</table>
		<after-table-row recordset='total'>
				<col value='TOTAL' align='right' colspan='1'/>
				<col name='subtotal' format='#,###,##0.00' align='right'/>
		</after-table-row>
		<image scale='80' sessionID='dinamica.image.chart' url='${def:actionroot}/chart'/>

	</pdf-report>
</config>