<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnsolicitudpresupuesto.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_budget_request}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_budget_request}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnsolicitudpresupuesto.sql' width='100' spacingBefore='40'>
			<col name='spr_solicitud' title='${lbl:b_request_number}' width='10' align='left' format='######' />
			<col name='smn_auxiliar' title='${lbl:b_auxiliary}' width='10' align='left' format='######' />
			<col name='smn_contratante_id' title='${lbl:b_contratante_aux}' width='10' align='left' format='######' />
			<col name='smn_patologia_id' title='${lbl:b_pathology}' width='10' align='left' format='######' />
			<col name='spr_dias_hospitalizacion' title='${lbl:b_hospitalization_day}' width='10' align='left' format='######' />
			<col name='spr_horas_quirofano' title='${lbl:b_operating_room_hours}' width='10' align='left' format='######' />
			<col name='spr_instrumentales' title='${lbl:b_instrumentals}' width='10' align='left' />
			<col name='spr_honorarios' title='${lbl:b_schedules}' width='10' align='left' format='######' />
			<col name='spr_estatus' title='${lbl:b_estatus}' width='10' align='left' />
			<col name='spr_fecha_registro' title='${lbl:b_store_date}' width='10' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
