<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smntipodocumentoafiliado.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_document_type}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_document_type}">
				<col id='tdo_codigo' label='${lbl:b_code}' />
		<col id='tdo_descripcion' label='${lbl:b_description}' />
		<col id='tdo_idioma' label='${lbl:s_profile_lang}' />
		<col id='tdo_usuario' label='${lbl:b_users}' />
		<col id='tdo_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
