<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smntramosdescanso.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_tramos_descanso}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_tramos_descanso}">
				<col id='smn_tramos_id_combo' label='${lbl:b_cod_tramo}' />
		<col id='trd_hora_descanso_desde' label='${lbl:b_hor_inic_desc}' />
		<col id='trd_hora_descanso_hasta' label='${lbl:b_hor_fin_desc}' />
		<col id='smn_tramos_id_combo' label='${lbl:b_cod_tramo}' />
		<col id='trd_hora_descanso_desde' label='${lbl:b_hor_inic_desc}' />
		<col id='trd_hora_descanso_hasta' label='${lbl:b_hor_fin_desc}' />
		<col id='trd_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
