<!--data grid-->
<table class="datagrid rowhover oneCellRow" style="width:90%;">

	<col width='100%'/>


	<!--toolbar-->
	<tr>
		<th colspan="2" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th onclick="sortBy('uns_codigo','query-smnunidadesservicios.sql')" class="sortable">${lbl:b_code}</th>
		<th onclick="sortBy('uns_descripcion','query-smnunidadesservicios.sql')" class="sortable">${lbl:b_description}</th>
	</tr>

	<!--data-->
	<rows>
	<tr onclick="selectItem('${fld:smn_unidades_servicios_id}')" >
		<td align="center"><span id="${fld:smn_unidades_servicios_id}">${fld:uns_codigo}-${fld:uns_descripcion}</span></td>
		<td align="center">${fld:uns_descripcion}</td>
	</tr>
	</rows>

</table>

