<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>

	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_clase_auxiliar_rf","query-smnauxiliar.sql")'>${lbl:b_class_auxiliary}</th>
		<th class='sortable' onclick='sortBy("aux_numero_historia","query-smnauxiliar.sql")'>Numero Historia</th>
		<th class='sortable' onclick='sortBy("aux_apellidos","query-smnauxiliar.sql")'>${lbl:b_last_name}</th>
		<th class='sortable' onclick='sortBy("aux_nombres","query-smnauxiliar.sql")'>${lbl:b_first_name}</th>
		<th class='sortable' onclick='sortBy("tdo_descripcion","query-smnauxiliar.sql")'>${lbl:b_document_type_oficial}</th>
		<th class='sortable' onclick='sortBy("aux_num_doc_oficial","query-smnauxiliar.sql")'>${lbl:b_document_number_oficial}</th>
		<th class='sortable' onclick='sortBy("aux_rif","query-smnauxiliar.sql")'>${lbl:b_rif}</th>
		<th class='sortable' onclick='sortBy("aux_fecha_registro","query-smnauxiliar.sql")'>${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
		<tr>
			<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_auxiliar_id}')" title="${lbl:b_view_detail}"></td>
			<td>${fld:smn_clase_auxiliar_rf}</td>
			<td>${fld:aux_numero_historia}</td>
			<td align='left'>${fld:aux_apellidos}</td>
			<td align='left'>${fld:aux_nombres}</td>
			<td>${fld:tdo_descripcion}</td>
			<td>${fld:aux_num_doc_oficial}</td>
			<td align='right'>${fld:aux_rif}</td>
			<td>${fld:aux_fecha_registro@dd-MM-yyyy}</td>
		</tr>
	</rows>

</table>
