<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpresupuesto.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnpresupuesto.sql' sheetname='${lbl:b_presupuesto}' filename='filter.xls'>
		<col id='pre_numero_control' label='${lbl:b_budget_number}' />
		<col id='pre_fecha' label='${lbl:b_budget_date}' />
		<col id='pre_titular_combo' label='${lbl:b_titular}' />
		<col id='pre_beneficiario_combo' label='${lbl:b_beneficiario}' />
		<col id='pre_plan_combo' label='${lbl:b_plan}' />
		<col id='pre_auxiliar_combo' label='${lbl:b_auxiliary}' />
		<col id='pre_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>