<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncontratante.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_contratante}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_contratante}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smncontratante.sql' width='100' spacingBefore='40'>
			<col name='smn_documento_id' title='${lbl:b_cnt_documento}' width='14' align='left' format='######' />
			<col name='cnt_numero_control' title='${lbl:b_cnt_num_control}' width='14' align='left' format='######' />
			<col name='smn_clase_auxiliar_rf' title='${lbl:b_auxiliary_class}' width='14' align='left' format='######' />
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliary}' width='14' align='left' format='######' />
			<col name='smn_plan_id' title='${lbl:b_cnt_plan}' width='14' align='left' format='######' />
			<col name='cnt_cantidad_citas' title='${lbl:b_cnt_cant_citas}' width='14' align='left' format='######' />
			<col name='cnt_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
