<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("tco_codigo","query-smntipocoberturas.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("tco_descripcion","query-smntipocoberturas.sql")'>${lbl:b_description}</th>
		<th class='sortable' onclick='sortBy("tco_fecha_registro","query-smntipocoberturas.sql")'>${lbl:b_store_date}</th>
		
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_tipo_coberturas_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_tipo_coberturas_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_tipo_coberturas_id}')" title="${lbl:b_edit_button}"></td>
		<td align='left'>${fld:tco_codigo}</td>
		<td align='left'>${fld:tco_usuario}</td>
		<td>${fld:tco_fecha_registro@dd-MM-yyyy}</td>
		
	</tr>
	</rows>

</table>
