<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<!-- <col width='3%'/>
	<col width='3%'/> -->
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>


	<!--toolbar-->
	<tr>
		<th colspan="11" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<!-- <th></th>
		<th></th> -->
		<th class='sortable' onclick='sortBy("spr_solicitud","query-smnsolicitudpresupuesto.sql")'>${lbl:b_request_number}</th>
		<th class='sortable' onclick='sortBy("smn_auxiliar","query-smnsolicitudpresupuesto.sql")'>${lbl:b_auxiliary}</th>
		<th class='sortable' onclick='sortBy("smn_contratante_id","query-smnsolicitudpresupuesto.sql")'>${lbl:b_contratante_aux}</th>
		<th class='sortable' onclick='sortBy("smn_patologia_id","query-smnsolicitudpresupuesto.sql")'>${lbl:b_pathology}</th>
		<th class='sortable' onclick='sortBy("spr_dias_hospitalizacion","query-smnsolicitudpresupuesto.sql")'>${lbl:b_hospitalization_day}</th>
		<th class='sortable' onclick='sortBy("spr_horas_quirofano","query-smnsolicitudpresupuesto.sql")'>${lbl:b_operating_room_hours}</th>
		<th class='sortable' onclick='sortBy("spr_instrumentales","query-smnsolicitudpresupuesto.sql")'>${lbl:b_instrumentals}</th>
		<th class='sortable' onclick='sortBy("spr_honorarios","query-smnsolicitudpresupuesto.sql")'>${lbl:b_schedules}</th>
		<th class='sortable' onclick='sortBy("spr_estatus","query-smnsolicitudpresupuesto.sql")'>${lbl:b_estatus}</th>
		<th class='sortable' onclick='sortBy("spr_fecha_registro","query-smnsolicitudpresupuesto.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_solicitud_presupuesto_id}')" title="${lbl:b_view_detail}"></td>
		<!-- <td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_solicitud_presupuesto_id}')" title="${lbl:b_delete_button}"></td> -->
		<!-- <td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_solicitud_presupuesto_id}')" title="${lbl:b_edit_button}"></td> -->
		<td>${fld:spr_solicitud}</td>
		<td>${fld:smn_auxiliar}</td>
		<td>${fld:smn_contratante_id}</td>
		<td>${fld:smn_patologia_id}</td>
		<td>${fld:spr_dias_hospitalizacion}</td>
		<td>${fld:spr_horas_quirofano}</td>
		<td align='left'>${fld:spr_instrumentales}</td>
		<td>${fld:spr_honorarios}</td>
		<td align='left'>${fld:spr_estatus}</td>
		<td>${fld:spr_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
