<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Script genérico para las grids paginados, inicializa las
		variables globales de paginacion e invoca via Ajax la carga de la pagina 1 del grid
	</summary>

	<log>false</log>
	
	<transaction>
		<classname>dinamica.PagingControls</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="paging.controls" />
	</output>
	
</config>
