<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnsector.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_sector}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_sector}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='sec_codigo' title='${lbl:b_cod_sector}'  align='left' />
			<col name='sec_descripcion' title='${lbl:b_desc_sector}'  align='left' />
			<col name='sec_fecha_registro' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnsector.sql' width='100' spacingBefore='10'>
			<col name='sec_codigo' title='${lbl:b_cod_sector}' width='14' align='left' />
			<col name='sec_descripcion' title='${lbl:b_desc_sector}' width='14' align='left' />
			<col name='smn_pais_rf_combo' title='${lbl:b_pais_sector}' width='14' align='left' format='######' />
			<col name='smn_entidades_federales_rf_combo' title='${lbl:b_entidad_sector}' width='14' align='left' format='######' />
			<col name='smn_ciudades_rf_combo' title='${lbl:b_cdad_sector}' width='14' align='left' format='######' />
			<col name='smn_municipios_rf_combo' title='${lbl:b_municipios_sector}' width='14' align='left' format='######' />
			<col name='sec_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
