<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnagendamedica.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_medical_timetable}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_medical_timetable}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_agenda_id' title='${lbl:b_timetable}'   align='left' />
			<col name='smn_entidades_rf' title='${lbl:b_entities}'   align='left' />
			<col name='smn_sucursales_rf' title='${lbl:b_subsidiary}'   align='left' />
			<col name='smn_areas_servicios_rf' title='${lbl:b_service_areas}'   align='left' />
			<col name='smn_unidades_servicios_rf' title='${lbl:b_service_units}'   align='left' />
			<col name='agm_estatus' title='${lbl:b_status}'  align='left' />
			<col name='agm_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='agm_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnagendamedica.sql' width='100' spacingBefore='10'>
			<col name='smn_agenda_id' title='${lbl:b_timetable}' width='10' align='left'  />
			<col name='smn_entidades_rf' title='${lbl:b_entities}' width='10' align='left'  />
			<col name='smn_sucursales_rf' title='${lbl:b_subsidiary}' width='10' align='left'  />
			<col name='smn_areas_servicios_rf' title='${lbl:b_service_areas}' width='10' align='left'  />
			<col name='smn_unidades_servicios_rf' title='${lbl:b_service_units}' width='10' align='left'  />
			<col name='smn_grupo_prestador_servicio_rf' title='${lbl:b_group_of_provider}' width='10' align='left'  />
			<col name='smn_prestador_servicio_rf' title='${lbl:b_service_providers}' width='10' align='left'  />
			<col name='smn_especialidad_rf' title='${lbl:b_speciality}' width='10' align='left'  />
			<col name='agm_estatus' title='${lbl:b_status}' width='10' align='left' />
			<col name='agm_fecha_registro' title='${lbl:b_store_date}' width='10' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
