<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_cobertura_admision}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<!-- <recordset id='query-smn_auxiliar_rf.sql' source='sql' scope='transaction'/> -->
		<!-- <recordset id='query-coa_ejecutivo_atencion_pagador.sql' source='sql' scope='transaction'/> -->
		<!-- <recordset id='query-smn_moneda_rf.sql' source='sql' scope='transaction'/> -->
		<!-- <recordset id='query-smn_tasa_rf.sql' source='sql' scope='transaction'/> -->
		<!-- <recordset id='query-smn_ingreso_id.sql' source='sql' scope='transaction'/> -->
		<!-- <recordset id='query-smn_presupuesto_id.sql' source='sql' scope='transaction'/> -->
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<!-- <print mode='table' recordset='query-smn_auxiliar_rf.sql' tag='smn_auxiliar_rf_rows'/> -->
		<!-- <print mode='table' recordset='query-coa_ejecutivo_atencion_pagador.sql' tag='coa_ejecutivo_atencion_pagador_rows'/> -->
		<!-- <print mode='table' recordset='query-smn_moneda_rf.sql' tag='smn_moneda_rf_rows'/> -->
		<!-- <print mode='table' recordset='query-smn_tasa_rf.sql' tag='smn_tasa_rf_rows'/> -->
		<!-- <print mode='table' recordset='query-smn_ingreso_id.sql' tag='smn_ingreso_id_rows'/> -->
		<!-- <print mode='table' recordset='query-smn_presupuesto_id.sql' tag='smn_presupuesto_id_rows'/> -->
		<print mode="form" recordset="_request" /> 
	</output>

</config>
