<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncitas.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="2" cellStep="0" name="${lbl:b_citas}"/>
	
	<excel 
		recordset='query-smncitas.sql' 
		sheetname='${lbl:b_citas}' 
		filename='${lbl:b_citas}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_documento_id' label='${lbl:b_document}' />
		<col id='cts_num_control' label='${lbl:b_code}' />
		<col id='cts_numero_ticket' label='${lbl:b_num_ticket}' />
		<col id='ant_apellidos' label='${lbl:b_auxiliary_pa}' />
		<col id='cts_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
