<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrepososconstancias.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_constancy_rest}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_constancy_rest}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_ingreso_id' title='${lbl:b_income}'  format='######' align='left' />
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliary}'  format='######' align='left' />
			<col name='smn_diagnostico_rf' title='${lbl:b_diagnostic}'  format='######' align='left' />

		</record>
		<record recordset='query-smnrepososconstancias.sql' width='100' spacingBefore='10'>
			<col name='smn_ingreso_id' title='${lbl:b_income}' width='11' align='left' format='######' />
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliary}' width='11' align='left' format='######' />
			<col name='smn_diagnostico_rf' title='${lbl:b_diagnostic}' width='11' align='left' format='######' />
			<col name='rpc_fecha_desde' title='${lbl:b_init_date}' width='11' align='left' format='dd-MM-yyyy' />
			<col name='rpc_fecha_hasta' title='${lbl:b_end_date}' width='11' align='left' format='dd-MM-yyyy' />
			<col name='rpc_fecha_reintegro' title='${lbl:b_reintegro_date}' width='11' align='left' format='dd-MM-yyyy' />
			<col name='rpc_motivo' title='${lbl:b_reason}' width='11' align='left' format='######' />
			<col name='rpc_observacion' title='${lbl:b_observations}' width='11' align='left' />
			<col name='rpc_fecha_registro' title='${lbl:b_store_date}' width='11' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
