<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrutapaciente.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_ruta_paciente1}"/>
	
	<excel 
		recordset='query-smnrutapaciente.sql' 
		sheetname='${lbl:b_ruta_paciente1}' 
		filename='${lbl:b_ruta_paciente1}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_ingreso_cola_virtual_id_combo' label='${lbl:b_ingreso_cola_virtual}' />
		<col id='smn_clase_auxiliar_rf_combo' label='${lbl:b_auxiliary_class}' />
		<col id='smn_auxiliar_rf_combo' label='${lbl:b_auxiliary}' />
		<col id='rta_numero_documento_identidad' label='${lbl:b_rta_documento}' />
		<col id='smn_serie_id' label='${lbl:b_serie}' />
		<col id='rta_ticket' label='${lbl:b_rta_ticket}' />
		<col id='rta_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
