<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='25%'/>
	<col width='25%'/>
	<col width='25%'/>
	<col width='25%'/>


	<!--toolbar-->
	<tr>
		<th colspan="7" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("obs_codigo","query-smnobservaciones.sql")'>${lbl:b_code_obs}</th>
		<th class='sortable' onclick='sortBy("obs_descripcion","query-smnobservaciones.sql")'>${lbl:b_description_obs}</th>
		<th class='sortable' onclick='sortBy("obs_tipo_combo","query-smnobservaciones.sql")'>${lbl:b_tipo_obs}</th>
		<th class='sortable' onclick='sortBy("obs_fecha_registro","query-smnobservaciones.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_observaciones_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_observaciones_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_observaciones_id}')" title="${lbl:b_edit_button}"></td>
		<td align='left'>${fld:obs_codigo}</td>
		<td align='left'>${fld:obs_descripcion}</td>
		<td align='left'>${fld:obs_tipo_combo}</td>
		<td>${fld:obs_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
