<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Generar reporte PDF
	</summary>

	<log>false</log>

	<pdf-title>${lbl:b_report_generator}</pdf-title>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query2.sql" source="session" scope="session" />
		<recordset id="field2.sql" source="session" scope="session" />
		<recordset id="total_width.sql" source="session" scope="session" />
		<recordset id="repgen.filter" source="session" scope="session" />
	</transaction>

	<output>
		<classname>domain.repgen.smn_configuracion.smn_tipo_documento.PDFlReportDetail</classname>
	</output>

</config>
