<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smningreso.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_ingreso}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_ingreso}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smningreso.sql' width='100' spacingBefore='40'>

			<col name='smn_doc_orig' title='${lbl:b_doc_orig}' width='12' align='left' format='######'/>
			<col name='smn_documento_id_combo' title='${lbl:b_document}' width='12' align='left' format='######'/>
			<col name='igs_num_ingreso' title='${lbl:b_num_ingreso}' width='12' align='left' format='######'/>
			<col name='smn_unidades_servicios_rf_combo' title='${lbl:b_service_units}' width='12' align='left' format='######'/>
			<col name='igs_ticket' title='${lbl:b_num_ticket}' width='12' align='left' format='######'/>
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliary_pa}' width='12' align='left' format='######'/>
			<col name='igs_estatus_financiero' title='Estatus Financiero' width='12' align='left' format='######'/>
			<col name='rta_estatus' title='Estatus Proceso' width='12' align='left' format='######'/>
			<col name='igs_fecha_registro' title='${lbl:b_store_date}'  width='12' align='left' format='dd-MM-yyyy'/>

		</record>

	</pdf-report>
</config>
