<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smningreso.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_ingreso}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_ingreso}">
				<col id='smn_doc_orig' label='${lbl:b_doc_orig}' />
		<col id='smn_documento_id_combo' label='${lbl:b_document}' />
		<col id='igs_doc_origen' label='${lbl:b_num_doc_orig}' />
		<col id='igs_num_ingreso' label='${lbl:b_num_ingreso}' />
		<col id='smn_entidades_rf_combo' label='${lbl:b_entities}' />
		<col id='smn_sucursales_rf_combo' label='${lbl:b_subsidiaries}' />
		<col id='smn_areas_servicios_rf_combo' label='${lbl:b_service_area}' />
		<col id='smn_unidades_servicios_rf_combo' label='${lbl:b_service_units}' />
		<col id='ctm_observaciones_id' label='${lbl:b_appointment_comment}' />
		<col id='igs_ticket' label='${lbl:b_num_ticket}' />
		<col id='smn_clase_rf' label='${lbl:b_auxiliary_class_pa}' />
		<col id='smn_auxiliar_rf' label='${lbl:b_auxiliary_pa}' />
		<col id='smn_contratante_id_combo' label='${lbl:b_contratante_aux}' />
		<col id='smn_auxiliar_sucursales_rf' label='${lbl:b_aux_suc}' />
		<col id='smn_auxiliar_areas_servicios_rf' label='${lbl:b_cont_area}' />
		<col id='smn_auxilia_unidad_servicio_rf' label='${lbl:b_cont_uni_serv}' />
		<col id='smn_motivos_id_combo' label='${lbl:b_reason}' />
		<col id='smn_observaciones_ingresos_id' label='${lbl:b_obs_ingresos}' />
		<col id='igs_monto_moneda_local' label='${lbl:b_monto_mop}' />
		<col id='smn_moneda_rf' label='${lbl:b_mon_alt}' />
		<col id='igs_monto_moneda_alterna' label='${lbl:b_mon_mon_alt}' />
		<col id='smn_sintoma_id_combo' label='${lbl:b_symptom}' />
		<col id='igs_estatus_financiero' label='${lbl:b_estFinan_mop}' />
		<col id='igs_idioma' label='${lbl:s_profile_lang}' />
		<col id='igs_usuario' label='${lbl:b_users}' />
		<col id='igs_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
