<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnsintoma.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnsintoma.sql' sheetname='${lbl:b_symptom}' filename='smn_sintoma.xls'>
		<col id='stm_codigo' label='${lbl:b_code}' />
		<col id='stm_descripcion' label='${lbl:b_description}' />
		<col id='stm_idioma' label='${lbl:s_profile_lang}' />
		<col id='stm_usuario' label='${lbl:b_users}' />
		<col id='stm_fecha_registro' label='${lbl:b_store_date}' />
		<col id='stm_hora' label='${lbl:s_loginhist_col2}' />
	</excel>

</config>