<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrecipemedicodetalle.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="5" cellStep="0" name="${lbl:b_detail_prescription_medic}"/>
	
	<excel 
		recordset='query-smnrecipemedicodetalle.sql' 
		sheetname='${lbl:b_detail_prescription_medic}' 
		filename='${lbl:b_detail_prescription_medic}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='rec_estatus_pl0' label='${lbl:b_prescription_medic}' />
		<col id='smn_principio_activo_rf' label='${lbl:b_active_ingredient}' />
		<col id='smn_item_rf' label='${lbl:b_item}' />
		<col id='smn_presentacion_rf' label='${lbl:b_presentacion}' />
		<col id='rmd_dosis' label='${lbl:b_dose}' />
		<col id='rmd_frecuencia' label='${lbl:b_frecuency}' />
		<col id='rmd_especificacion' label='${lbl:b_indications}' />
		<col id='rmd_dias_tratamiento' label='${lbl:b_treatment_day}' />
		<col id='rmd_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
