<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_auxiliary_nature_person_pacient}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>
	


	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_naturaleza_auxiliar_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_clase_auxiliar_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_tipo_doc_oficial_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_direccion_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_nacionalidad_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_condicion_financiera_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_cuenta_bancaria_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_titular_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_unidad_med_peso_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_unidad_med_estatura_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_unidad_med_camisa_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_unidad_med_pantalon_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_unidad_med_zapato_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_unidad_med_braga_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-aux_unidad_med_casco_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_tipo_contactos_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_tipo_contactos_rf1.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_naturaleza_auxiliar_rf.sql' tag='smn_naturaleza_auxiliar_rf_rows'/>
		<print mode='table' recordset='query-smn_clase_auxiliar_rf.sql' tag='smn_clase_auxiliar_rf_rows'/>
		<print mode='table' recordset='query-aux_tipo_doc_oficial_rf.sql' tag='aux_tipo_doc_oficial_rf_rows'/>
		<print mode='table' recordset='query-aux_direccion_rf.sql' tag='aux_direccion_rf_rows'/>
		<print mode='table' recordset='query-aux_nacionalidad_rf.sql' tag='aux_nacionalidad_rf_rows'/>
		<print mode='table' recordset='query-aux_condicion_financiera_rf.sql' tag='aux_condicion_financiera_rf_rows'/>
		<print mode='table' recordset='query-aux_cuenta_bancaria_rf.sql' tag='aux_cuenta_bancaria_rf_rows'/>
		<print mode='table' recordset='query-aux_titular_rf.sql' tag='aux_titular_rf_rows'/>
		<print mode='table' recordset='query-aux_unidad_med_peso_rf.sql' tag='aux_unidad_med_peso_rf_rows'/>
		<print mode='table' recordset='query-aux_unidad_med_estatura_rf.sql' tag='aux_unidad_med_estatura_rf_rows'/>
		<print mode='table' recordset='query-aux_unidad_med_camisa_rf.sql' tag='aux_unidad_med_camisa_rf_rows'/>
		<print mode='table' recordset='query-aux_unidad_med_pantalon_rf.sql' tag='aux_unidad_med_pantalon_rf_rows'/>
		<print mode='table' recordset='query-aux_unidad_med_zapato_rf.sql' tag='aux_unidad_med_zapato_rf_rows'/>
		<print mode='table' recordset='query-aux_unidad_med_braga_rf.sql' tag='aux_unidad_med_braga_rf_rows'/>
		<print mode='table' recordset='query-aux_unidad_med_casco_rf.sql' tag='aux_unidad_med_casco_rf_rows'/>
		<print mode='table' recordset='query-smn_tipo_contactos_rf.sql' tag='smn_tipo_contactos_rf_rows'/>
		<print mode='table' recordset='query-smn_tipo_contactos_rf1.sql' tag='smn_tipo_contactos_rf1_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>
	

</config>
