<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Actualiza valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_ingreso_id</colname>
			<colname>omd_numero_orden</colname>
			<colname>omd_descripcion</colname>
			<colname>smn_prestador_servicio_rf</colname>
			<colname>omd_clase_auxiliar</colname>
			<colname>omd_auxiliar</colname>
			<colname>omd_tipo_orden</colname>
			<colname>omd_indicaciones</colname>
			<colname>omd_estatus</colname>
		
		</cols>
		<table>smn_salud.smn_ordenes_medicas</table>
		<oper>ACTUALIZAR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smn_servicios.sql" source="request" scope="transaction" />
	</transaction>

	<query>update.sql</query>
	<query>delete-query-smn_service_id.sql</query>
	<query params="query-smn_servicios.sql">insert-query-smn_rel_orden_medica_servicios.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
