<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnprestacionserviciomedicodetalle.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_detail_medic_provider_services}</pdf-title>
	<pdf-logo url='/images/logo_vistacalifornia-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_detail_medic_provider_services}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnprestacionserviciomedicodetalle.sql' width='100' spacingBefore='40'>
			<col name='tipo_servicio' title='Tipo Servicio' width='14' align='left' />
			<col name='servicio' title='Servicio' width='14' align='left' />
			<col name='componentes' title='Componentes' width='14' align='left' />
			<col name='estatus' title='${lbl:b_status}' width='14' align='left' />
			<col name='psd_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
