<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpresupuestocomponente.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_presupuesto_detalle_componente}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_presupuesto_detalle_componente}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnpresupuestocomponente.sql' width='100' spacingBefore='40'>
			<col name='smn_presupuesto_detalle_id' title='${lbl:b_presupuesto_detalle}' width='7' align='left' format='######' />
			<col name='smn_presupuesto_id' title='${lbl:b_presupuesto}' width='7' align='left' format='######' />
			<col name='smn_servicios_rf' title='${lbl:b_services}' width='7' align='left' format='######' />
			<col name='smn_tipos_componentes_rf' title='${lbl:b_type_component}' width='7' align='left' />
			<col name='smn_componentes_rf' title='${lbl:b_component}' width='7' align='left' format='######' />
			<col name='smn_grupo_prestador_rf' title='${lbl:b_group_of_provider}' width='7' align='left' format='######' />
			<col name='smn_prestadores_servicios_rf' title='${fld:b_service_provider}' width='7' align='left' format='######' />
			<col name='prc_forma_calculo_rf' title='${lbl:b_forma_calculo}' width='7' align='left' />
			<col name='prc_cantidad' title='${lbl:b_quantity}' width='7' align='left' format='######' />
			<col name='prc_monto_ml' title='${lbl:b_amount}' width='7' align='left' format='#,###,##0.00' />
			<col name='prc_monto_ma' title='${lbl:b_amount_ma}' width='7' align='left' format='#,###,##0.00' />
			<col name='prc_monto_neto_ml' title='${lbl:b_amount_net}' width='7' align='left' format='#,###,##0.00' />
			<col name='prc_fecha_registro' title='${lbl:b_store_date}' width='7' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
