<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnauxiliarcuentabancaria.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_rel_auxiliary_bank_account_person_nature}"/>
	
	<excel 
		recordset='query-smnauxiliarcuentabancaria.sql' 
		sheetname='${lbl:b_rel_auxiliary_bank_account_person_nature}' 
		filename='${lbl:b_rel_auxiliary_bank_account_person_nature}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_clase_auxiliar_rf' label='${lbl:b_class_auxiliary}' />
		<col id='smn_auxiliar_rf' label='${lbl:b_auxiliary}' />
		<col id='acb_num_cuenta' label='${lbl:b_account_number}' />
		<col id='tcb_descripcion' label='${lbl:b_account_bank_type}' />
		<col id='efi_nombre' label='${lbl:b_bank}' />
		<col id='acb_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
