<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnsolicitudpresupuesto.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>spr_solicitud</colname>
			<colname>smn_auxiliar</colname>
			<colname>smn_contratante_id</colname>
			<colname>smn_patologia_id</colname>
			<colname>spr_estatus</colname>
			<colname>spr_fecha_registro_ini</colname>
			<colname>spr_fecha_registro_fin</colname>
		
		</cols>
		<table>smn_salud.smn_solicitud_presupuesto</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smnsolicitudpresupuesto.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>spr_solicitud;smn_auxiliar;smn_contratante_id;smn_patologia_id;spr_estatus;spr_fecha_registro_ini;spr_fecha_registro_fin;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
