<!--data grid-->
<table class="datagrid rowhover oneCellRow" style="width:90%;">
	<col width='35%'/>
	<col width='35%'/>
	<col width='35%'/>


	<!--toolbar-->
	<tr>
		<th colspan="3">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th onclick="sortBy('pat_codigo','query-smnpatologia.sql')" class="sortable">${lbl:b_code}</th>
		<th onclick="sortBy('pat_descripcion','query-smnpatologia.sql')" class="sortable">${lbl:b_description}</th>
		<th onclick="sortBy('pat_estatus','query-smnpatologia.sql')" class="sortable">${lbl:b_estatus}</th>
	</tr>

	<!--data-->
	<rows>
	<tr onclick="selectItem('${fld:smn_patologia_id}')" >
		<td align="center"><span id="${fld:smn_patologia_id}">${fld:pat_descripcion}</span></td>
		<td align="center">${fld:pat_descripcion}</td>
		<td align="center">${fld:pat_estatus}</td>
	</tr>
	</rows>

</table>

