<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_ingreso}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_documento_origen.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_documento_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_entidades_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_sucursales_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_areas_servicios_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_unidades_servicios_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_contratante_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_motivos_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_sintoma_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-cts_clase_auxiliar.sql' source='sql' scope='transaction'/>
		<recordset id='query-cts_auxiliar.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_auxiliar_sucursales_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_auxiliar_areas_servicios_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_auxilia_unidad_servicio_rf.sql' source='sql' scope='transaction'/>
		<recordset id="paciente-info.sql" source="sql" scope="session" on-empty-return="1" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_documento_origen.sql' tag='smn_documento_origen_rows'/>
		<print mode='table' recordset='query-smn_documento_id.sql' tag='smn_documento_id_rows'/>
		<print mode='table' recordset='query-smn_entidades_rf.sql' tag='smn_entidades_rf_rows'/>
		<print mode='table' recordset='query-smn_sucursales_rf.sql' tag='smn_sucursales_rf_rows'/>
		<print mode='table' recordset='query-smn_areas_servicios_rf.sql' tag='smn_areas_servicios_rf_rows'/>
		<print mode='table' recordset='query-smn_unidades_servicios_rf.sql' tag='smn_unidades_servicios_rf_rows'/>
		<print mode='table' recordset='query-smn_contratante_id.sql' tag='smn_contratante_id_rows'/>
		<print mode='table' recordset='query-smn_motivos_id.sql' tag='smn_motivos_id_rows'/>
		<print mode='table' recordset='query-smn_sintoma_id.sql' tag='smn_sintoma_id_rows'/>
		<print mode='table' recordset='query-cts_clase_auxiliar.sql' tag='cts_clase_auxiliar_rows'/>
		<print mode='table' recordset='query-cts_auxiliar.sql' tag='cts_auxiliar_rows'/>
		<print mode='table' recordset='query-smn_auxiliar_sucursales_rf.sql' tag='smn_auxiliar_sucursales_rf_rows'/>
		<print mode='table' recordset='query-smn_auxiliar_areas_servicios_rf.sql' tag='smn_auxiliar_areas_servicios_rf_rows'/>
		<print mode='table' recordset='query-smn_auxilia_unidad_servicio_rf.sql' tag='smn_auxilia_unidad_servicio_rf_rows'/>
		<print mode="form" recordset="paciente-info.sql" />
		<print mode="form" recordset="_request" /> 
	</output>

	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" /> 


</config>
