<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelacionunidadpaso.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_rel_uni_paso}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_rel_uni_paso}">
				<col id='smn_area_servicio_rf_combo' label='${lbl:b_service_area}' />
		<col id='smn_unidad_servicio_rf_combo' label='${lbl:b_service_units}' />
		<col id='smn_paso_rf_combo' label='${lbl:b_paso}' />
		<col id='smn_serie_id_combo' label='${lbl:b_serie}' />
		<col id='rup_secuencia ' label='${lbl:b_rel_uni_paso_sec}' />
		<col id='rup_estatus_combo' label='${lbl:b_status}' />
		<col id='rup_vigencia' label='${lbl:b_vigencia}' />
		<col id='smn_area_servicio_rf_combo' label='${lbl:b_service_area}' />
		<col id='smn_unidad_servicio_rf_combo' label='${lbl:b_service_units}' />
		<col id='smn_paso_rf_combo' label='${lbl:b_paso}' />
		<col id='smn_serie_id_combo' label='${lbl:b_serie}' />
		<col id='rup_secuencia ' label='${lbl:b_rel_uni_paso_sec}' />
		<col id='rup_estatus_combo' label='${lbl:b_status}' />
		<col id='rup_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
