<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Return JS in order to fill a combobox depending of value that send to this action
	</summary>

	<log>false</log>

	<transaction>
		<classname>proceso.Proximo</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="ingreso" source="session" scope="transaction" />
	</transaction>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<print mode="form" recordset="ingreso" />
		<expiration>0</expiration>
	</output>

</config>
