<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='3%'/>

	<!--toolbar-->
	<tr>
		<th colspan="14" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_agenda_rf","query-smncontrolquirofano.sql")'>${lbl:b_schedule}</th>
		<th class='sortable' onclick='sortBy("smn_presupuesto_id","query-smncontrolquirofano.sql")'>${lbl:b_presupuesto}</th>
		<th class='sortable' onclick='sortBy("smn_ingreso_id","query-smncontrolquirofano.sql")'>${lbl:b_ingreso}</th>
		<th class='sortable' onclick='sortBy("smn_servicios_rf","query-smncontrolquirofano.sql")'>${lbl:b_services}</th>
		<th class='sortable' onclick='sortBy("ccq_hora_entrada","query-smncontrolquirofano.sql")'>${lbl:b_entry_hour}</th>
		<th class='sortable' onclick='sortBy("ccq_hora_salida","query-smncontrolquirofano.sql")'>${lbl:b_exit_hour}</th>
		<th class='sortable' onclick='sortBy("ccq_fecha_quirofano","query-smncontrolquirofano.sql")'>${lbl:b_fecha_quirofano}</th>
		<th class='sortable' onclick='sortBy("smn_habitaciones_id","query-smncontrolquirofano.sql")'>${lbl:b_habitaciones}</th>
		<th class='sortable' onclick='sortBy("ccq_cantidad_horas","query-smncontrolquirofano.sql")'>${lbl:b_entry_hour}</th>
		<th class='sortable' onclick='sortBy("ccq_fecha_registro","query-smncontrolquirofano.sql")'>${lbl:b_store_date}</th>
		<th>RE</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_control_quirofano_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_control_quirofano_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_control_quirofano_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_agenda_rf}</td>
		<td>${fld:smn_presupuesto_id}</td>
		<td>${fld:smn_ingreso_id}</td>
		<td align='left'>${fld:smn_servicios_rf}</td>
		<td align='left'>${fld:ccq_hora_entrada}</td>
		<td>${fld:ccq_hora_salida}</td>
		<td>${fld:ccq_fecha_quirofano@dd-MM-yyyy}</td>
		<td>${fld:smn_habitaciones_id}</td>
		<td>${fld:ccq_cantidad_horas}</td>
		<td>${fld:ccq_fecha_registro@dd-MM-yyyy}</td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="relacion('${fld:smn_control_quirofano_id}','${fld:servicios_id}')" title="${lbl:b_relacion_quirofano_prest}"></td>

	</tr>
	</rows>

</table>
