<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="false">

	<summary>
		PagedView generic configuration
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpresupuesto.sql" source="sql" scope="transaction" />
		<recordset id="query-smnpresupuestodetalle.sql" source="sql" scope="transaction" />
		<recordset id="query-sumsmnpresupuestodetalleit.sql" source="sql" scope="transaction" />
		<recordset id="query-sumsmnpresupuestodetallese.sql" source="sql" scope="transaction" />
		<recordset id="query-summontoneto.sql" source="sql" scope="transaction" />
		<recordset id="query-summontoimpuesto.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="form" recordset="query-smnpresupuesto.sql" />
		<print mode="table" recordset="query-smnpresupuestodetalle.sql" tag="rows" alternate-colors="true" />
		<print mode="form" recordset="query-sumsmnpresupuestodetalleit.sql"/>
		<print mode="form" recordset="query-sumsmnpresupuestodetallese.sql"/>
		<print mode="form" recordset="query-summontoneto.sql"/>
		<print mode="form" recordset="query-summontoimpuesto.sql"/>
	</output>

</config>
