<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnestadopresupuesto.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_estado_presupuesto}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='filter.params' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='55' spacingBefore='15'>
			<col name='epr_codigo' title='${lbl:b_code}'  align='center' />
			<col name='epr_descripcion' title='${lbl:b_description}'  align='center' />
			<col name='epr_fecha_registro' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='center' />
		</record>
		<table recordset='query-smnestadopresupuesto.sql' width='100' spacingBefore='10'>
			<col name='epr_codigo' title='${lbl:b_code}' width='33' align='left' />
			<col name='epr_descripcion' title='${lbl:b_description}' width='33' align='left' />
			<col name='epr_fecha_registro' title='${lbl:b_store_date}' width='33' align='center' format='dd-MM-yyyy' />
		</table>

	</pdf-report>
</config>