<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnprestacionserviciomedicodetalle.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_detail_medic_provider_services}"/>
	
	<excel 
		recordset='query-smnprestacionserviciomedicodetalle.sql' 
		sheetname='${lbl:b_detail_medic_provider_services}' 
		filename='${lbl:b_detail_medic_provider_services}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='psc_estatus_pl0' label='${lbl:b_header_medic_provider_services}' />
		<col id='smn_mov_caja_detalle_id_combo' label='${lbl:b_movement_caj_detail}' />
		<col id='inm_localidad_pl2' label='${lbl:b_appointment_movement}' />
		<col id='smn_unidades_servicios_rf_combo' label='${lbl:b_service_units}' />
		<col id='psd_tipo_componentes_combo' label='${lbl:b_components_types}' />
		<col id='psd_cantidad' label='${lbl:b_quantity}' />
		<col id='psd_estatus_combo' label='${lbl:b_status}' />
		<col id='psd_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
