<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_plans}
	</summary>

	<log>false</log>
	
	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-pla_modelo_contrato.sql' source='sql' scope='transaction'/><recordset id='query-pla_empresa.sql' source='sql' scope='transaction'/><recordset id='query-pla_clase_auxiliar.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-pla_modelo_contrato.sql' tag='pla_modelo_contrato_rows'/><print mode='table' recordset='query-pla_empresa.sql' tag='pla_empresa_rows'/><print mode='table' recordset='query-pla_clase_auxiliar.sql' tag='pla_clase_auxiliar_rows'/>
	</output>

</config>
