<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>


	<!--toolbar-->
	<tr>
		<th colspan="11" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("ant_apellidos_combo","query-smncitas.sql")'>${lbl:b_auxiliary_pa}</th>
		<th class='sortable' onclick='sortBy("smn_documento_id_combo","query-smncitas.sql")'>${lbl:b_document}</th>
		<th class='sortable' onclick='sortBy("cts_num_control","query-smncitas.sql")'>${lbl:b_num_control_citas}</th>
		<th class='sortable' onclick='sortBy("cts_numero_ticket","query-smncitas.sql")'>${lbl:b_num_ticket}</th>
		<th class='sortable' onclick='sortBy("cts_fecha_registro","query-smncitas.sql")'>${lbl:b_store_date}</th>
		<th class='sortable'>MC</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_citas_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_citas_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_citas_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:ant_apellidos}</td>
		<td>${fld:smn_documento_id}</td>
		<td>${fld:cts_num_control}</td>
		<td>${fld:cts_numero_ticket}</td>		
		<td>${fld:cts_fecha_registro@dd-MM-yyyy}</td>
		<td><img src="${def:context}/images/view-list-details.png"  onclick="detallecitas('${fld:smn_citas_id}', '${fld:cts_num_control}', '${fld:smn_documento_id}')" title="${lbl:b_appoiment_detail}"></td>
	
	</tr>
	</rows>

</table>
