<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_serie}"/>
	
	<excel 
		recordset='query.sql' 
		sheetname='${lbl:b_serie}' 
		filename='${lbl:b_serie}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='sri_codigo' label='${lbl:b_codigo_serie}' />
		<col id='sri_nombre' label='${lbl:b_nombre_serie}' />
		<col id='sri_estatus_combo' label='${lbl:b_status_serie}' />
		<col id='sri_ultimo_numero' label='${lbl:b_ultimo_numero}' />
		<col id='sri_reinicio_combo' label='${lbl:b_reinicio}' />
		<col id='ctm_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
